.dxPivotGrid_pgCollapsedButton_PMC2,
.dxPivotGrid_pgExpandedButton_PMC2,
.dxPivotGrid_pgSortDownButton_PMC2,
.dxPivotGrid_pgSortUpButton_PMC2,
.dxPivotGrid_pgFilterResizer_PMC2,
.dxPivotGrid_pgFilterButton_PMC2,
.dxPivotGrid_pgFilterButtonActive_PMC2,
.dxPivotGrid_pgCustomizationFormCloseButton_PMC2,
.dxPivotGrid_pgDragArrowDown_PMC2,
.dxPivotGrid_pgDragArrowUp_PMC2,
.dxPivotGrid_pgDragHideField_PMC2,
.dxPivotGrid_pgDataHeaders_PMC2,
.dxPivotGrid_pgGroupSeparator_PMC2,
.dxPivotGrid_pgSortByColumn_PMC2,
.dxPivotGrid_pgPrefilterButton_PMC2
{
	background: transparent url('sprite.png') no-repeat;
}

.dxPivotGrid_pgCollapsedButton_PMC2 {
    background-position: 0px 0px;
    width: 13px;
    height: 13px;
}

.dxPivotGrid_pgExpandedButton_PMC2 {
    background-position: 0px -18px;
    width: 13px;
    height: 13px;
}

.dxPivotGrid_pgSortDownButton_PMC2 {
    background-position: -37px -1px;
    width: 7px;
    height: 5px;
}

.dxPivotGrid_pgSortUpButton_PMC2 {
    background-position: -37px -8px;
    width: 7px;
    height: 5px;
}

.dxPivotGrid_pgFilterResizer_PMC2 {
    background-position: -69px -37px;
    width: 16px;
    height: 16px;
}

.dxPivotGrid_pgFilterButton_PMC2 {
    background-position: 0px -36px;
    width: 15px;
    height: 17px;
}

.dxPivotGrid_pgFilterButtonActive_PMC2 {
    background-position: -23px -36px;
    width: 15px;
    height: 17px;
}

.dxPivotGrid_pgCustomizationFormCloseButton_PMC2 {
    background-position: -46px -39px;
    width: 14px;
    height: 14px;
}

.dxPivotGrid_pgDragArrowDown_PMC2 {
    background-position: -17px 0px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragArrowUp_PMC2 {
    background-position: -17px -17px;
    width: 11px;
    height: 9px;
}

.dxPivotGrid_pgDragHideField_PMC2 {
    background-position: -75px 0px;
    width: 22px;
    height: 22px;
}

.dxPivotGrid_pgDataHeaders_PMC2 {
    background-position: -53px -19px;
    width: 12px;
    height: 12px;
}

.dxPivotGrid_pgGroupSeparator_PMC2 {
    background-position: -105px -21px;
    width: 5px;
    height: 1px;
}

.dxPivotGrid_pgSortByColumn_PMC2 {
    background-position: -52px 0px;
    width: 14px;
    height: 6px;
}

.dxPivotGrid_pgPrefilterButton_PMC2 {
    background-position: -105px 0px;
    width: 12px;
    height: 13px;
}
.dxPivotGrid_FLButton_PMC2,
.dxPivotGrid_FLStackedDefault_PMC2,
.dxPivotGrid_FLStackedSideBySide_PMC2,
.dxPivotGrid_FLTopPanelOnly_PMC2,
.dxPivotGrid_FLBottomPanelOnly2by2_PMC2,
.dxPivotGrid_FLBottomPanelOnly1by4_PMC2,
.dxPivotGrid_FLFieldList_PMC2,
.dxPivotGrid_FLFilterAreaHeaders_PMC2,
.dxPivotGrid_FLColumnAreaHeaders_PMC2,
.dxPivotGrid_FLRowAreaHeaders_PMC2,
.dxPivotGrid_FLDataAreaHeaders_PMC2,
.dxPivotGrid_pgDragArrowLeft_PMC2,
.dxPivotGrid_pgDragArrowRight_PMC2
 {
    background-image: url('FLsprite.png');
    background-repeat: no-repeat;
    background-color: transparent; 
}
.dxpgFLTextDiv_PMC2 img.dxPivotGrid_FLFilterAreaHeaders_PMC2,
.dxpgFLTextDiv_PMC2 img.dxPivotGrid_FLColumnAreaHeaders_PMC2,
.dxpgFLTextDiv_PMC2 img.dxPivotGrid_FLRowAreaHeaders_PMC2,
.dxpgFLTextDiv_PMC2 img.dxPivotGrid_FLDataAreaHeaders_PMC2,
.dxpgFLTextDiv_PMC2 img.dxPivotGrid_FLFieldList_PMC2
{
    height:16px;
    width:16px;
}
.dxPivotGrid_FLButton_PMC2
{
    display:block;
    height:16px;
    width:16px
}
.dxPivotGrid_FLStackedDefault_PMC2,
.dxPivotGrid_FLStackedSideBySide_PMC2,
.dxPivotGrid_FLTopPanelOnly_PMC2,
.dxPivotGrid_FLBottomPanelOnly2by2_PMC2,
.dxPivotGrid_FLBottomPanelOnly1by4_PMC2
{
    height:32px;
    width:32px;
}
.dxPivotGrid_pgDragArrowLeft_PMC2,
.dxPivotGrid_pgDragArrowRight_PMC2
{
    height:11px;
    width:9px;
}
.dxPivotGrid_pgDragArrowLeft_PMC2
{
  background-position: -96px -11px; 
}
.dxPivotGrid_pgDragArrowRight_PMC2
{
 background-position: -96px -0px; 
}
.dxPivotGrid_FLButton_PMC2
{
    background-position: -96px -32px;
}
.dxPivotGrid_FLStackedDefault_PMC2
{
    background-position: -32px 0px;
}
.dxPivotGrid_FLStackedSideBySide_PMC2
{
    background-position: 0px -32px;
}
.dxPivotGrid_FLTopPanelOnly_PMC2
{
    background-position: 0px 0px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_PMC2
{
    background-position: -32px -32px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_PMC2
{
    background-position: -64px 0px;
}
.dxPivotGrid_FLFieldList_PMC2
{
    background-position: -64px -32px;
}
.dxPivotGrid_FLFilterAreaHeaders_PMC2
{
    background-position: -80px -48px;
}
.dxPivotGrid_FLColumnAreaHeaders_PMC2
{
    background-position: -64px -48px;
}
.dxPivotGrid_FLRowAreaHeaders_PMC2
{
    background-position: -96px -48px;
}
.dxPivotGrid_FLDataAreaHeaders_PMC2
{
    background-position: -80px -32px;
} 

.dxPivotGrid_CTNMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNCalculatedMeasure {
    background-image: url('CustomizationTreeNodeImages.png');
    -background-image: url('CustomizationTreeNodeImages.gif');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 16px;
    width: 16px;
}
.dxPivotGrid_CTNMeasure {
    background-position: 0px 0px;
}
.dxPivotGrid_CTNDimension {
    background-position: -21px 0px;
}
.dxPivotGrid_CTNAttribute {
    background-position: -42px 0px;
}
.dxPivotGrid_CTNHierarchy {
    background-position: -63px 0px;
}
.dxPivotGrid_CTNKpi {
    background-position: -84px 0px;
}
.dxPivotGrid_CTNFolderClosed {
    background-position: 0px -23px;
}
.dxPivotGrid_CTNFolderOpen {
    background-position: -21px -23px;
}
.dxPivotGrid_CTNCalculatedMeasure {
    background-position: -42px -23px;
}

