.dxEditors_edtError_PMC2,
.dxEditors_edtCalendarPrevYear_PMC2,
.dxEditors_edtCalendarPrevYearDisabled_PMC2,
.dxEditors_edtCalendarPrevMonth_PMC2,
.dxEditors_edtCalendarPrevMonthDisabled_PMC2,
.dxEditors_edtCalendarNextMonth_PMC2,
.dxEditors_edtCalendarNextMonthDisabled_PMC2,
.dxEditors_edtCalendarNextYear_PMC2,
.dxEditors_edtCalendarNextYearDisabled_PMC2,
.dxEditors_edtCalendarFNPrevYear_PMC2,
.dxEditors_edtCalendarFNNextYear_PMC2,
.dxEditors_edtRadioButtonChecked_PMC2,
.dxEditors_edtRadioButtonUnchecked_PMC2,
.dxEditors_edtRadioButtonCheckedDisabled_PMC2,
.dxEditors_edtRadioButtonUncheckedDisabled_PMC2,
.dxEditors_edtEllipsis_PMC2,
.dxEditors_edtEllipsisDisabled_PMC2,
.dxEditors_edtDropDown_PMC2,
.dxEditors_edtDropDownDisabled_PMC2,
.dxEditors_edtDETSClockFace_PMC2,
.dxEditors_edtDETSHourHand_PMC2,
.dxEditors_edtDETSMinuteHand_PMC2,
.dxEditors_edtDETSSecondHand_PMC2,
.dxEditors_edtSpinEditIncrementImage_PMC2,
.dxEditors_edtSpinEditIncrementImageDisabled_PMC2,
.dxEditors_edtSpinEditDecrementImage_PMC2,
.dxEditors_edtSpinEditDecrementImageDisabled_PMC2,
.dxEditors_edtSpinEditLargeIncImage_PMC2,
.dxEditors_edtSpinEditLargeIncImageDisabled_PMC2,
.dxEditors_edtSpinEditLargeDecImage_PMC2,
.dxEditors_edtSpinEditLargeDecImageDisabled_PMC2,
.dxEditors_fcadd_PMC2,
.dxEditors_fcaddhot_PMC2,
.dxEditors_fcremove_PMC2,
.dxEditors_fcremovehot_PMC2,
.dxEditors_fcgroupaddcondition_PMC2,
.dxEditors_fcgroupaddgroup_PMC2,
.dxEditors_fcgroupremove_PMC2,
.dxEditors_fcopany_PMC2,
.dxEditors_fcopbegin_PMC2,
.dxEditors_fcopbetween_PMC2,
.dxEditors_fcopcontain_PMC2,
.dxEditors_fcopnotcontain_PMC2,
.dxEditors_fcopnotequal_PMC2,
.dxEditors_fcopend_PMC2,
.dxEditors_fcopequal_PMC2,
.dxEditors_fcopgreater_PMC2,
.dxEditors_fcopgreaterorequal_PMC2,
.dxEditors_fcopnotblank_PMC2,
.dxEditors_fcopblank_PMC2,
.dxEditors_fcopless_PMC2,
.dxEditors_fcoplessorequal_PMC2,
.dxEditors_fcoplike_PMC2,
.dxEditors_fcopnotany_PMC2,
.dxEditors_fcopnotbetween_PMC2,
.dxEditors_fcopnotlike_PMC2,
.dxEditors_fcgroupand_PMC2,
.dxEditors_fcgroupor_PMC2,
.dxEditors_fcgroupnotand_PMC2,
.dxEditors_fcgroupnotor_PMC2,
.dxEditors_caRefresh_PMC2,
.dxEditors_edtTBDecBtn_PMC2,
.dxEditors_edtTBIncBtn_PMC2,
.dxEditors_edtTBMainDH_PMC2,
.dxEditors_edtTBSecondaryDH_PMC2,
.dxEditors_edtTBIncBtnDisabled_PMC2,
.dxEditors_edtTBDecBtnDisabled_PMC2,
.dxEditors_edtTBMainDHDisabled_PMC2,
.dxEditors_edtTBSecondaryDHDisabled_PMC2
{
	background: transparent url('sprite.png') no-repeat;
}

/* TrackBar */
.dxEditors_edtTBDecBtn_PMC2, .dxEditors_edtTBIncBtn_PMC2,
.dxEditors_edtTBDecBtnHover_PMC2, .dxEditors_edtTBIncBtnHover_PMC2,
.dxEditors_edtTBDecBtnPressed_PMC2, .dxEditors_edtTBIncBtnPressed_PMC2,
.dxEditors_edtTBDecBtnDisabled_PMC2, .dxEditors_edtTBIncBtnDisabled_PMC2
{
	width: 20px;
	height: 20px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_PMC2, .dxeTBHSys .dxEditors_edtTBSecondaryDH_PMC2,
.dxeTBHSys .dxEditors_edtTBMainDHHover_PMC2, .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_PMC2,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_PMC2, .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_PMC2,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_PMC2, .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_PMC2
{
	width:7px;
	height:12px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_PMC2, .dxeTBVSys .dxEditors_edtTBSecondaryDH_PMC2,
.dxeTBVSys .dxEditors_edtTBMainDHHover_PMC2, .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_PMC2,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_PMC2, .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_PMC2,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_PMC2, .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_PMC2
{
	width:12px;
	height:7px;
}

.dxEditors_edtTBDecBtn_PMC2 
{
	background-position: -0px -148px;
}
.dxEditors_edtTBDecBtnHover_PMC2
{
	background-position: -44px -148px;
}
.dxEditors_edtTBDecBtnPressed_PMC2
{
	background-position: -87px -148px;
}
.dxEditors_edtTBDecBtnDisabled_PMC2
{
	background-position: -131px -148px;
}

.dxEditors_edtTBIncBtn_PMC2
{
	background-position: -22px -148px;
}
.dxEditors_edtTBIncBtnHover_PMC2
{
	background-position: -66px -148px;
}
.dxEditors_edtTBIncBtnPressed_PMC2
{ 
	background-position: -109px -148px;
}
.dxEditors_edtTBIncBtnDisabled_PMC2
{ 
	background-position: -153px -148px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_PMC2, 
.dxeTBHSys .dxEditors_edtTBSecondaryDH_PMC2
{
	background-position: -19px -128px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_PMC2,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_PMC2
{
	background-position: -32px -128px;
}

.dxeTBHSys .dxEditors_edtTBMainDHDisabled_PMC2,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_PMC2
{
	background-position: -58px -128px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_PMC2,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_PMC2
{
	background-position: -116px -127px;
}

.dxeTBVSys .dxEditors_edtTBMainDHHover_PMC2,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_PMC2
{
	background-position: -116px -140px;
}

.dxeTBVSys .dxEditors_edtTBMainDHPressed_PMC2,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_PMC2
{
	background-position: -136px -127px;
	z-index: 7;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_PMC2,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_PMC2
{
	background-position: -45px -128px;
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_PMC2, 
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_PMC2
{
	background-position: -136px -140px;
}

.dxeFocused_PMC2 .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_PMC2, 
.dxeFocused_PMC2 .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_PMC2
{
	background-position: -156px -127px;
}
.dxeFocused_PMC2 .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_PMC2,
.dxeFocused_PMC2 .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_PMC2
{
	background-position: -156px -140px;
}
.dxeFocused_PMC2 .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_PMC2,
.dxeFocused_PMC2 .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_PMC2
{
	background-position: -177px -127px;
}
.dxeFocused_PMC2 .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_PMC2,
.dxeFocused_PMC2 .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_PMC2
{
	background-position: -71px -128px;
}
.dxeFocused_PMC2 .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_PMC2,
.dxeFocused_PMC2 .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_PMC2
{
	background-position: -85px -128px;
}
.dxeFocused_PMC2 .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_PMC2,
.dxeFocused_PMC2 .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_PMC2
{
	background-position: -100px -128px;
}

/* RadioButton */
.dxEditors_edtRadioButtonChecked_PMC2,
.dxEditors_edtRadioButtonUnchecked_PMC2,
.dxEditors_edtRadioButtonCheckedDisabled_PMC2,
.dxEditors_edtRadioButtonUncheckedDisabled_PMC2 {
	width: 16px;
	height: 16px;
}
.dxEditors_edtRadioButtonUnchecked_PMC2 {
    background-position: 0px -40px;
}
.dxEditors_edtRadioButtonChecked_PMC2 {
    background-position: -16px -40px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_PMC2 {
    background-position: -33px -40px;
}
.dxEditors_edtRadioButtonCheckedDisabled_PMC2 {
    background-position: -49px -40px;
}

.dxEditors_edtError_PMC2,
.dxEditors_edtCalendarPrevYear_PMC2,
.dxEditors_edtCalendarPrevYearDisabled_PMC2,
.dxEditors_edtCalendarPrevMonth_PMC2,
.dxEditors_edtCalendarPrevMonthDisabled_PMC2,
.dxEditors_edtCalendarNextMonth_PMC2,
.dxEditors_edtCalendarNextMonthDisabled_PMC2,
.dxEditors_edtCalendarNextYear_PMC2,
.dxEditors_edtCalendarNextYearDisabled_PMC2,
.dxEditors_edtCalendarFNPrevYear_PMC2,
.dxEditors_edtCalendarFNNextYear_PMC2,
.dxEditors_edtEllipsis_PMC2,
.dxEditors_edtEllipsisDisabled_PMC2,
.dxEditors_edtDropDown_PMC2,
.dxEditors_edtDropDownDisabled_PMC2,
.dxEditors_edtSpinEditIncrementImage_PMC2,
.dxEditors_edtSpinEditIncrementImageDisabled_PMC2,
.dxEditors_edtSpinEditDecrementImage_PMC2,
.dxEditors_edtSpinEditDecrementImageDisabled_PMC2,
.dxEditors_edtSpinEditLargeIncImage_PMC2,
.dxEditors_edtSpinEditLargeIncImageDisabled_PMC2,
.dxEditors_edtSpinEditLargeDecImage_PMC2,
.dxEditors_edtSpinEditLargeDecImageDisabled_PMC2
{
	display:block;
	margin:auto;
}

.dxEditors_edtError_PMC2 {
    background-position: -170px 0px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtCalendarPrevYear_PMC2 {
    background-position: -2px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarPrevYearDisabled_PMC2 {
    background-position: -2px -196px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarPrevMonth_PMC2 {
    background-position: -28px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarPrevMonthDisabled_PMC2 {
    background-position: -28px -196px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarNextMonth_PMC2 {
    background-position: -54px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarNextMonthDisabled_PMC2 {
    background-position: -54px -196px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarNextYear_PMC2 {
    background-position: -80px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarNextYearDisabled_PMC2 {
    background-position: -80px -196px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarFNPrevYear_PMC2 {
    background-position: -28px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtCalendarFNNextYear_PMC2 {
    background-position: -54px -170px;
    width: 24px;
    height: 24px;
}

.dxEditors_edtEllipsis_PMC2 {
    background-position: 0px 0px;
    width: 11px;
    height: 14px;
}

.dxEditors_edtEllipsisDisabled_PMC2 {
    background-position: 0px -22px;
    width: 11px;
    height: 14px;
}

.dxeButtonEditButtonHover_PMC2 .dxEditors_edtEllipsis_PMC2,
.dxeButtonEditButtonPressed_PMC2 .dxEditors_edtEllipsis_PMC2 {
    background-position: -12px 0px;
    width: 11px;
    height: 14px;
}

.dxEditors_edtDropDown_PMC2 {
    background-position: -25px 0px;
    width: 10px;
    height: 14px;
}

.dxeButtonEditButtonHover_PMC2 .dxEditors_edtDropDown_PMC2,
.dxeButtonEditButtonPressed_PMC2 .dxEditors_edtDropDown_PMC2 {
    background-position: -13px -22px;
    width: 10px;
    height: 14px;
}

.dxEditors_edtDropDownDisabled_PMC2 {
    background-position: -25px -22px;
    width: 10px;
    height: 14px;
}

.dxEditors_edtSpinEditIncrementImage_PMC2 {
    background-position: -150px 0px;
    width: 10px;
    height: 5px;
}

.dxeSpinIncButtonHover_PMC2 .dxEditors_edtSpinEditIncrementImage_PMC2,
.dxeSpinIncButtonPressed_PMC2 .dxEditors_edtSpinEditIncrementImage_PMC2
{
    background-position: -114px -13px;
}

.dxEditors_edtSpinEditIncrementImageDisabled_PMC2 {
    background-position: -150px -13px;
    width: 10px;
    height: 5px;
}


.dxEditors_edtSpinEditDecrementImage_PMC2 {
    background-position: -132px 0px;
    width: 10px;
    height: 5px;
}

.dxeSpinDecButtonHover_PMC2 .dxEditors_edtSpinEditDecrementImage_PMC2,
.dxeSpinDecButtonPressed_PMC2 .dxEditors_edtSpinEditDecrementImage_PMC2
{
    background-position: -114px 0px;
}

.dxEditors_edtSpinEditDecrementImageDisabled_PMC2 {
    background-position: -132px -13px;
    width: 10px;
    height: 5px;
}

.dxEditors_edtSpinEditLargeIncImage_PMC2 {
    background-position: -146px -26px;
    width: 4px;
    height: 7px;
}

.dxeSpinLargeIncButtonHover_PMC2 .dxEditors_edtSpinEditLargeIncImage_PMC2,
.dxeSpinLargeIncButtonPressed_PMC2 .dxEditors_edtSpinEditLargeIncImage_PMC2
{
    background-position: -118px -26px;
}

.dxEditors_edtSpinEditLargeIncImageDisabled_PMC2 {
    background-position: -171px -26px;
    width: 4px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeDecImage_PMC2 {
    background-position: -132px -26px;
    width: 4px;
    height: 7px;
}

.dxeSpinLargeDecButtonHover_PMC2 .dxEditors_edtSpinEditLargeDecImage_PMC2,
.dxeSpinLargeDecButtonPressed_PMC2 .dxEditors_edtSpinEditLargeDecImage_PMC2
{
    background-position: -104px -26px;
}

.dxEditors_edtSpinEditLargeDecImageDisabled_PMC2 {
    background-position: -158px -26px;
    width: 4px;
    height: 7px;
}

.dxEditors_fcadd_PMC2 {
    background-position: 0px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcaddhot_PMC2 {
    background-position: -21px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremove_PMC2 {
    background-position: -42px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremovehot_PMC2 {
    background-position: -63px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddcondition_PMC2 {
    background-position: -168px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddgroup_PMC2 {
    background-position: -147px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupremove_PMC2 {
    background-position: -126px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopany_PMC2 {
    background-position: 0px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbegin_PMC2 {
    background-position: -42px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbetween_PMC2 {
    background-position: -84px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopcontain_PMC2 {
    background-position: -105px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotcontain_PMC2 {
    background-position: -147px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotequal_PMC2 {
    background-position: -168px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopend_PMC2 {
    background-position: -63px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopequal_PMC2 {
    background-position: 0px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreater_PMC2 {
    background-position: -21px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreaterorequal_PMC2 {
    background-position: -42px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotblank_PMC2 {
    background-position: -105px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopblank_PMC2 {
    background-position: -126px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopless_PMC2 {
    background-position: -63px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplessorequal_PMC2 {
    background-position: -84px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplike_PMC2 {
    background-position: -126px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotany_PMC2 {
    background-position: -21px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotbetween_PMC2 {
    background-position: -147px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotlike_PMC2 {
    background-position: -168px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupand_PMC2 {
    background-position: -84px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupor_PMC2 {
    background-position: -168px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotand_PMC2 {
    background-position: -105px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotor_PMC2 {
    background-position: -147px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_caRefresh_PMC2 {	
	background-position: -106px -170px;
	width: 24px;
	height: 24px;
}

.dxEditors_edtDETSClockFace_PMC2
{
    background-position: -2px -224px;
    width: 107px;
    height: 107px;
}

.dxEditors_edtDETSHourHand_PMC2
{
    background-position: -123px -224px;
    width: 7px;
    height: 64px;
}

.dxEditors_edtDETSMinuteHand_PMC2
{
    background-position: -116px -224px;
    width: 7px;
    height: 64px;
}

.dxEditors_edtDETSSecondHand_PMC2
{
    background-position: -111px -224px;
    width: 5px;
    height: 72px;
}
