/* -- ValidationSummary -- */

.dxvsValidationSummary_PMC2
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_PMC2 td.dxvsRC_PMC2
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_PMC2 .dxvsE_PMC2
{
}
.dxvsValidationSummary_PMC2 table.dxvsHT_PMC2
{
	width: 100%;
}
.dxvsValidationSummary_PMC2 td.dxvsH_PMC2
{
	padding: 2px 0;
}
.dxvsValidationSummary_PMC2 a.dxvsHL_PMC2,
.dxvsValidationSummary_PMC2 a.dxvsHL_PMC2:visited
{
	color: red;
}
.dxvsValidationSummary_PMC2 a.dxvsHL_PMC2
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_PMC2 a.dxvsHL_PMC2:hover
{
	color: #f70;
}
.dxvsValidationSummary_PMC2 table.dxvsT_PMC2
{
}
.dxvsValidationSummary_PMC2 tr.dxvsE_PMC2
{
}
.dxvsValidationSummary_PMC2 td.dxvsETC_PMC2
{
	padding: 2px 0;
}
.dxvsValidationSummary_PMC2 ul.dxvsL_PMC2
{
}
.dxvsValidationSummary_PMC2 ol.dxvsL_PMC2
{
}
.dxvsValidationSummary_PMC2 li.dxvsE_PMC2
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_PMC2
{
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility: hidden;
}

.dxeDisabled_PMC2 .dxeTBHSys a,
.dxeDisabled_PMC2 .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_PMC2
{
	font-size: 0;
}

.dxeTBScale_PMC2, .dxeTBTrack_PMC2, dxeTBBarHighlight
{
	cursor: pointer;
}

.dxeTBScale_PMC2 
{
	z-index: 1;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeTBSecondaryDH_PMC2, .dxeTBMainDH_PMC2
{
	z-index: 4;
}

.dxeTBHSys
{
	width: 170px;
	height: 41px;
}
.dxeTBVSys
{
	height: 170px;
	width: 41px;
}
.dxeTrackBar_PMC2.dxeTBBScaleSys.dxeTBVSys
{
	width: 59px;
}
.dxeTrackBar_PMC2.dxeTBBScaleSys.dxeTBHSys
{	
	height: 59px;
}

.dxeTBTrack_PMC2 
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_PMC2
{
	background: url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_PMC2
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_PMC2, .dxeTBHSys .dxeTBBarHighlight_PMC2
{
	height: 10px;
}
.dxeTBVSys .dxeTBTrack_PMC2, .dxeTBVSys .dxeTBBarHighlight_PMC2
{
	width: 10px;
}

.dxeTBHSys .dxeTBMainDH_PMC2, .dxeTBHSys .dxeTBSecondaryDH_PMC2
{	
	top: -1px;
	width:7px;
	height:12px;
}
.dxeTBVSys .dxeTBMainDH_PMC2, .dxeTBVSys .dxeTBSecondaryDH_PMC2
{
	left: -1px;
	width: 12px;
	height: 7px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_PMC2, .dxeTBVSys .dxeTBTrack_PMC2
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_PMC2
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_PMC2
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_PMC2, .dxeTBHSys .dxeTBTrack_PMC2
{
	top: 6px;
}

.dxeTBBarHighlight_PMC2
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_PMC2
{
	background-image: url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_PMC2
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_PMC2, .dxeTBLTLabel_PMC2
{
	text-align: center;
	color: #999999;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_PMC2, .dxeTBSmallTickSys .dxeTBLTLabel_PMC2,
.dxeTBLargeTickSys .dxeTBRBLabel_PMC2, .dxeTBLargeTickSys .dxeTBLTLabel_PMC2 
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_PMC2,.dxeTBHSys .dxeTBLTLabel_PMC2
{
	width: 100%;
}

.dxeTBIncBtn_PMC2, .dxeTBDecBtn_PMC2
{
	padding: 2px;
	width: 17px;
	height: 17px;
}

.dxeTBVSys .dxeTBRBLabel_PMC2, 
.dxeTBVSys .dxeTBLTLabel_PMC2
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_PMC2
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_PMC2, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_PMC2
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_PMC2, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_PMC2
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_PMC2, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_PMC2
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_PMC2, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_PMC2
{
	top: 0px;
}
.dxeTBItem_PMC2
{
	color: #8c8c8c;
}

.dxeTBHSys .dxeTBItem_PMC2 .dxeTBRBLabel_PMC2, 
.dxeTBHSys .dxeTBItem_PMC2 .dxeTBLTLabel_PMC2 
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys 
.dxeTBItem_PMC2 .dxeTBRBLabel_PMC2 
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys 
.dxeTBItem_PMC2 .dxeTBLTLabel_PMC2 
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_PMC2 .dxeTBRBLabel_PMC2 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_PMC2 .dxeTBRBLabel_PMC2,
.dxeTBSelectedItem_PMC2 .dxeTBLTLabel_PMC2,
.dxeTBSelectedTick_PMC2 .dxeTBRBLabel_PMC2, 
.dxeTBSelectedTick_PMC2 .dxeTBLTLabel_PMC2
{
	color: #0072C6;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_PMC2
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_PMC2
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_PMC2
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_PMC2
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_PMC2
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_PMC2 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_PMC2
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_PMC2
{
	background-image: url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_PMC2
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_PMC2
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_PMC2
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_PMC2
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_PMC2
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_PMC2
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_PMC2
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_PMC2, .dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_PMC2
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_PMC2, .dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_PMC2
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_PMC2, .dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_PMC2
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_PMC2, .dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_PMC2
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_PMC2, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_PMC2
{
	margin-left: -10px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_PMC2,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_PMC2
{
	margin-top: -10px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_PMC2
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_PMC2
{ 
	margin-top: -5px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_PMC2, 
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_PMC2
{
	right: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_PMC2, 
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_PMC2
{
	bottom: 0px;
}

div.dxeHelpText_PMC2,
.dxeTBValueToolTip_PMC2
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    background: white;
    z-index: 41998;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #c0c0c0;
    font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
td.dxeHelpText_PMC2 {
    visibility: visible;
    color: #9F9F9F;
    font: 11px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
td.dxeHelpText_PMC2.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_PMC2.dxeVHelpTextSys {
    padding: 2px 0;
}

/* Loading */
.dxeLoadingDiv_PMC2
{
	background: White none;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.dxeLoadingDivWithContent_PMC2
{
	background: White none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeLoadingPanel_PMC2
{
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxeLoadingPanelWithContent_PMC2
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #303030;
	background: #FFFFFF none;
	border: 1px solid #D6D6D6;
}

.dxeLoadingPanel_PMC2 td.dx, 
.dxeLoadingPanelWithContent_PMC2 td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_PMC2
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_PMC2
{
    background-color: transparent!important;
    font: normal 0px arial, verdana!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_PMC2 td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_PMC2 td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_PMC2 td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_PMC2
{
}
.dxeBase_PMC2
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
td.dxic
{
	font-size: 0;
}
/* InternalCheckBox */
.dxeIRBFocused_PMC2
{
	border: 1px dotted #ffb100;
	margin: 0px!important;
}
.dxeIRadioButton_PMC2
{
	margin: 1px;
	display: inline-block;
	vertical-align: middle;
}
/* -- ErrorFrame -- */
.dxeErrorCell_PMC2,
.dxeErrorCell_PMC2 td
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxeErrorCell_PMC2
{
	padding-left: 4px;
	padding-right: 5px;
}
.dxeErrorFrameWithoutError_PMC2
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_PMC2 .dxeControlsCell_PMC2,
.dxeErrorFrameWithoutError_PMC2.dxeControlsCell_PMC2
{
	padding: 2px;
}

.dxeEditArea_PMC2
{
	border: 1px solid #A0A0A0;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
/* -- ValidationSummary -- */

.dxvsValidationSummary_PMC2
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_PMC2 td.dxvsRC
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_PMC2 .dxvsE
{
}

/* ValidationSummary - Header */

.dxvsValidationSummary_PMC2 table.dxvsHT
{
	width: 100%;
}
.dxvsValidationSummary_PMC2 td.dxvsH
{
	padding: 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_PMC2 a.dxvsHL,
.dxvsValidationSummary_PMC2 a.dxvsHL:visited
{
	color: red;
}
.dxvsValidationSummary_PMC2 a.dxvsHL
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_PMC2 a.dxvsHL:hover
{
	color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_PMC2 table.dxvsT
{
}
.dxvsValidationSummary_PMC2 tr.dxvsE
{
}
.dxvsValidationSummary_PMC2 td.dxvsETC
{
	padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_PMC2 ul.dxvsL
{
}
.dxvsValidationSummary_PMC2 ol.dxvsL
{
}
.dxvsValidationSummary_PMC2 li.dxvsE
{
	padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_PMC2,
.dxeCalendarButton_PMC2,
.dxeSpinIncButton_PMC2,
.dxeSpinDecButton_PMC2,
.dxeSpinLargeIncButton_PMC2,
.dxeSpinLargeDecButton_PMC2
{
	vertical-align: middle;
	cursor: pointer;
} 
.dxeButtonEditButton_PMC2,
.dxeCalendarButton_PMC2,
.dxeButtonEditButton_PMC2 td.dx,
.dxeCalendarButton_PMC2 td.dx,
.dxeSpinIncButton_PMC2,
.dxeSpinDecButton_PMC2,
.dxeSpinLargeIncButton_PMC2,
.dxeSpinLargeDecButton_PMC2,
.dxeSpinIncButton_PMC2 td.dx,
.dxeSpinDecButton_PMC2 td.dx,
.dxeSpinLargeIncButton_PMC2 td.dx,
.dxeSpinLargeDecButton_PMC2 td.dx
{
	text-align: center;
	white-space: nowrap;
	font: normal 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
} 
.dxeButtonEditButton_PMC2,
.dxeSpinIncButton_PMC2,
.dxeSpinDecButton_PMC2,
.dxeSpinLargeIncButton_PMC2,
.dxeSpinLargeDecButton_PMC2
{
	padding: 0px 2px 0px 3px;
	background-color: white;
}
.dxeSpinLargeDecButton_PMC2
{
	padding: 0px 3px 0px 2px;
}
.dxeSpinIncButton_PMC2
{
}
.dxeSpinDecButton_PMC2
{
	padding-top: 1px;
}

.dxeButtonEditButton_PMC2 table.dxbebt,
.dxeSpinIncButton_PMC2 table.dxbebt,
.dxeSpinDecButton_PMC2 table.dxbebt, 
.dxeSpinLargeIncButton_PMC2 table.dxbebt,
.dxeSpinLargeDecButton_PMC2 table.dxbebt
{
	width: 10px;
}
.dxeCalendarButton_PMC2
{
	border: 1px solid #c0c0c0;
	padding: 3px 11px 4px;
	width: 32px;
}
.dxeCalendarButton_PMC2 td.dx
{
	text-align: center;
	white-space: nowrap;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeCalendarButton_PMC2.dxeButtonDisabled_PMC2 td.dx
{
	color: #bdbdbd;
}

.dxeCalendarButton_PMC2 table.dxbebt
{
	width: 100%;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_PMC2,
.dxeButtonEditButtonPressed_PMC2,
.dxeSpinIncButtonPressed_PMC2,
.dxeSpinDecButtonPressed_PMC2,
.dxeSpinLargeIncButtonPressed_PMC2, 
.dxeSpinLargeDecButtonPressed_PMC2
{
	background-color: #c0c0c0;
	color: white;
}
/* -- Hover -- */
.dxeCalendarButtonHover_PMC2,
.dxeButtonEditButtonHover_PMC2,
.dxeSpinIncButtonHover_PMC2,
.dxeSpinDecButtonHover_PMC2,
.dxeSpinLargeIncButtonHover_PMC2,
.dxeSpinLargeDecButtonHover_PMC2
{
	background-color: #0072C6;
color: white;
}
.dxeCalendarButtonHover_PMC2
{
	border-color: #0072C6;
}

.dxeButtonEdit_PMC2
{
	background-color: white;
	border: 1px solid #c0c0c0;
	width: 170px;
}
.dxeButtonEdit_PMC2 .dxeEditArea_PMC2
{
	background-color: white;
}
.dxeButtonEdit_PMC2 .dxeEditArea_PMC2,
.dxeButtonEdit_PMC2 td.dxic
{
	width: 100%;
}
.dxeButtonEdit_PMC2 .dxeIIC img
{
	padding-left: 3px;
}
.dxeTextBox_PMC2,
.dxeMemo_PMC2
{
	background-color: white;
	border: 1px solid #c0c0c0;
}
.dxeTextBox_PMC2 td.dxic
{
}
.dxeTextBox_PMC2 .dxeEditArea_PMC2
{
	background-color: white;
}
.dxeRadioButtonList_PMC2, .dxeCheckBoxList_PMC2
{
	border: 1px Solid #c0c0c0;
}

.dxeCheckBoxList_PMC2 .dxe > table,
.dxeRadioButtonList_PMC2 .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_PMC2,
.dxeRadioButtonList_PMC2 table,
.dxeCheckBoxList_PMC2,
.dxeCheckBoxList_PMC2 table
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeRadioButtonList_PMC2 td.dxe,
.dxeCheckBoxList_PMC2 td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_PMC2 label,
.dxeCheckBoxList_PMC2 label
{
	margin-right: 6px;
}

.dxeRadioButtonList_PMC2 img,
.dxeCheckBoxList_PMC2 img
{
	margin-bottom: -4px;
    padding-right: 5px;
}

/* -- Memo -- */
.dxeMemo_PMC2
{
}
.dxeMemoEditArea_PMC2
{
	background-color: white;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_PMC2
{
	font: normal 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #0072C6;
}

/* -- ListBox -- */
.dxeListBox_PMC2
{
	background-color: white;
	width: 70px;
	height: 109px;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
	border: 1px solid #c0c0c0;
}
.dxeListBox_PMC2 div.dxlbd
{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 107px;
}
.dxeListBoxItemRow_PMC2
{
	cursor: default;
}
.dxeListBoxItem_PMC2
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 3px 2px 4px 3px;
	white-space: nowrap;
	text-align: left;
	color: #333333;
	font: normal 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeListBoxItem_PMC2 em
{
	background: #CFCFCF none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}
.dxeListBoxItemRow_PMC2:last-child > .dxeListBoxItem_PMC2
{
	border-bottom-width: 0;
}

.dxeListBox_PMC2 td.dxeI,
.dxeListBox_PMC2 td.dxeIM,
.dxeListBox_PMC2 .dxeHIC, 
.dxeListBox_PMC2 td.dxeFTM,
.dxeListBox_PMC2 td.dxeTM,
.dxeListBox_PMC2 td.dxeC,
.dxeListBox_PMC2 td.dxeCM,
.dxeListBox_PMC2 td.dxeHCC,
.dxeListBox_PMC2 td.dxeMI,
.dxeListBox_PMC2 td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_PMC2 td.dxeIR,
.dxeListBox_PMC2 td.dxeIMR,
.dxeListBox_PMC2 .dxeHICR, 
.dxeListBox_PMC2 td.dxeFTMR,
.dxeListBox_PMC2 td.dxeTMR,
.dxeListBox_PMC2 td.dxeCR,
.dxeListBox_PMC2 td.dxeCMR,
.dxeListBox_PMC2 td.dxeHCCR,
.dxeListBox_PMC2 td.dxeMIR,
.dxeListBox_PMC2 td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_PMC2 td.dxeCM,
.dxeListBox_PMC2 td.dxeHCC,
.dxeListBox_PMC2 td.dxeCMR,
.dxeListBox_PMC2 td.dxeHCCR
{
	width: 29px;
    *width: 23px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dxeListBox_PMC2 td.dxeIM,
.dxeListBox_PMC2 td.dxeIMR
{
	width: 0;
}
.dxeListBox_PMC2 td.dxeC > span,
.dxeListBox_PMC2 td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_PMC2 td.dxeCR > span,
.dxeListBox_PMC2 td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_PMC2 td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_PMC2 td.dxeCR
{
	padding-left: 3px!important;
}

.dxeListBox_PMC2 td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_PMC2 td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}


.dxeListBox_PMC2 td.dxeT,
.dxeListBox_PMC2 td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_PMC2 td.dxeTR,
.dxeListBox_PMC2 td.dxeMIR
{
	border-right-width: 0!important;
}


.dxeListBox_PMC2 td.dxeFTM,
.dxeListBox_PMC2 td.dxeTM,
.dxeListBox_PMC2 td.dxeLTM, 
.dxeListBox_PMC2 .dxeHFC,
.dxeListBox_PMC2 .dxeHC,
.dxeListBox_PMC2 .dxeHLC,
.dxeListBox_PMC2 td.dxeFTMR,
.dxeListBox_PMC2 td.dxeTMR,
.dxeListBox_PMC2 td.dxeLTMR, 
.dxeListBox_PMC2 .dxeHFCR,
.dxeListBox_PMC2 .dxeHCR,
.dxeListBox_PMC2 .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_PMC2 td.dxeFTM,
.dxeListBox_PMC2 td.dxeTM, 
.dxeListBox_PMC2 .dxeHFC,
.dxeListBox_PMC2 .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_PMC2 td.dxeFTMR,
.dxeListBox_PMC2 td.dxeTMR, 
.dxeListBox_PMC2 .dxeHFCR,
.dxeListBox_PMC2 .dxeHCR
{
	padding-left: 6px!important;
}


.dxeListBox_PMC2 td.dxeLTM,
.dxeListBox_PMC2 td.dxeTM, 
.dxeListBox_PMC2 .dxeHC,
.dxeListBox_PMC2 .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_PMC2 td.dxeLTMR,
.dxeListBox_PMC2 td.dxeTMR, 
.dxeListBox_PMC2 .dxeHCR,
.dxeListBox_PMC2 .dxeHLCR
{
	padding-right: 6px!important;
}

/*Grid lines*/

.dxeListBox_PMC2 td.dxeLTM,
.dxeListBox_PMC2 td.dxeTM,
.dxeListBox_PMC2 td.dxeMIM
{
	border-left: 1px solid #cfcfcf!important;
}

.dxeListBox_PMC2 td.dxeLTMR,
.dxeListBox_PMC2 td.dxeTMR,
.dxeListBox_PMC2 td.dxeMIMR
{
	border-right: 1px solid #cfcfcf!important;
}

.dxeListBox_PMC2 td.dxeIM,
.dxeListBox_PMC2 td.dxeFTM,
.dxeListBox_PMC2 td.dxeTM,
.dxeListBox_PMC2 td.dxeLTM,
.dxeListBox_PMC2 td.dxeCM,
.dxeListBox_PMC2 td.dxeMIM,
.dxeListBox_PMC2 td.dxeIMR,
.dxeListBox_PMC2 td.dxeFTMR,
.dxeListBox_PMC2 td.dxeTMR,
.dxeListBox_PMC2 td.dxeLTMR,
.dxeListBox_PMC2 td.dxeCMR,
.dxeListBox_PMC2 td.dxeMIMR
{
	border-bottom: 1px solid #cfcfcf;
}

.dxeListBoxItemSelected_PMC2     /* inherits dxeListBoxItem */
{
	color: White;
	background-color: #0072C6;
}
.dxeDisabled_PMC2.dxeListBox_PMC2 .dxeListBoxItemSelected_PMC2 
{
	background-color: #f0f0f0;
}
.dxeListBoxItemHover_PMC2        /* inherits dxeListBoxItem */
{
	background-color: #e0e0e0;
	color: #333333;
}
.dxeListBoxItemHover_PMC2 em,
.dxeListBoxItemSelected_PMC2 em
{
	background-image: none;
}

/*Header*/

.dxeListBox_PMC2 .dxeHD
{
	border-bottom: 1px solid #c0c0c0;
}

.dxeListBox_PMC2 .dxeHC,
.dxeListBox_PMC2 .dxeHLC,
.dxeListBox_PMC2 td.dxeHMIC
{
	border-left: 1px solid #c0c0c0;
}

.dxeListBox_PMC2 .dxeHCR,
.dxeListBox_PMC2 .dxeHLCR,
.dxeListBox_PMC2 td.dxeHMICR
{
	border-right: 1px solid #A0A0A0;
	text-align: right;
}

.dxeListBox_PMC2 .dxeHCC
{
	border-left: 1px solid #c0c0c0;
}

.dxeListBox_PMC2 .dxeHICR,
.dxeListBox_PMC2 .dxeHFCR,
.dxeListBox_PMC2 .dxeHCCR
{
	border-right: 1px solid #dcdcdc;
	text-align: right;
}

.dxeListBox_PMC2 .dxeHFC,
.dxeListBox_PMC2 .dxeHC,
.dxeListBox_PMC2 .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_PMC2 .dxeHFCR,
.dxeListBox_PMC2 .dxeHCR,
.dxeListBox_PMC2 .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_PMC2 .dxeHLC
{
	border-right: 1px solid #dcdcdc;
}

.dxeListBox_PMC2 .dxeHLCR
{
	border-left: 1px solid #dcdcdc;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_PMC2
{
	background-color: White;
	color: #333333;
	font-weight: normal;
	cursor: default;
}
.dxeCalendar_PMC2.dxeFocused_PMC2
{
	border: none;
}
.dxeCalendar_PMC2 td.dxMonthGrid_PMC2
{
	padding: 8px 20px;
}
.dxeCalendar_PMC2 td.dxMonthGridWithWeekNumbers,
.dxeCalendar_PMC2 td.dxMonthGridWithWeekNumbersRtl
{
	min-width: 244px;
	padding: 30px 40px 10px;
}
.dxeCalendarDayHeader_PMC2
{
	padding: 2px 4px 5px;
	font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
}
.dxeCalendarWeekNumber_PMC2
{
	font: 9px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	text-align: right;
	padding: 6px 8px 6px 4px;
	color: #bfbfbf;
}
.dxeCalendarDay_PMC2
{
	padding: 4px 6px;
	text-align: center;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeCalendarWeekend_PMC2        /* inherits dxeCalendarDay */
{
	color: #FF3300;
}
.dxeCalendarOtherMonth_PMC2     /* inherits dxeCalendarDay */
{
	opacity: 0.15;
}
.dxeCalendarOutOfRange_PMC2     /* inherits dxeCalendarDay */
{
	color: #d0d0d0;
}
.dxeCalendarSelected_PMC2       /* inherits dxeCalendarDay */
{
	color: White;
	background-color: #0072C6;
}
.dxeCalendarSelected_PMC2.dxeDisabled_PMC2       /* inherits dxeCalendarDay */
{
	background-color: #ffd5a6;
}

.dxeCalendarToday_PMC2         /* inherits dxeCalendarDay */
{
	padding: 3px 3px 2px;
	border: 1px solid #0072C6;
}
.dxeCalendarToday_PMC2.dxeDisabled_PMC2         /* inherits dxeCalendarDay */
{
	border: 1px solid #0072C6;
}

.dxeCalendarHeader_PMC2
{
	color: #0072C6;
	padding: 4px 7px;
	font: 18px Segoe UI Light;
	padding: 4px 17px;
}
.dxeCalendarHeader_PMC2 td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_PMC2 span
{
	padding: 0 16px;
	white-space: nowrap!important;
}
.dxeCalendarFooter_PMC2
{
	padding: 8px 0px;
	border-bottom: 2px solid #c0c0c0;
}
.dxeCalendar_PMC2.dxeFocused_PMC2 .dxeCalendarFooter_PMC2
{
	border-color: #0072C6;
}
.dxeCalendarFastNav_PMC2
{
	color: Black;
	background: White none;
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	padding: 12px 8px;
}
.dxeCalendarFastNav_PMC2
{
}
.dxeCalendarFastNavMonthArea_PMC2
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_PMC2
{
}
.dxeCalendarFastNavFooter_PMC2
{
	color: Black;
	padding: 8px 0px;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	background-color: white;
}
.dxeCalendarFastNavMonth_PMC2,
.dxeCalendarFastNavYear_PMC2
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_PMC2
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_PMC2,
.dxeCalendarFastNavYearSelected_PMC2
{
	color: White;
	background-color: #0072C6;
}
.dxeCalendarFastNavMonthHover_PMC2,
.dxeCalendarFastNavYearHover_PMC2
{
	color: Black;
	background: #e5e5e5 none;
	padding: 2px 4px;
	border: 1px solid #d6d6d6;
}
.dxeCalendarFastNavMonthHover_PMC2
{
	padding: 5px;
}
.dxeDateEditTimeEditCell_PMC2
{
    padding: 13px 41px 15px ;
}
.dxeDateEditClockCell_PMC2
{
    padding: 37px 31px 0;
}
.dxeCalendarFooter_PMC2.dxeDETSF
{
    padding-left: 8px;
    padding-right: 8px;
}
.dxeCalendarHeader_PMC2.dxeDETSH
{
    display: none;
}
/* Disabled */
.dxeDisabled_PMC2,
.dxeDisabled_PMC2 td.dxe
{
	color: #c0c0c0;
	cursor: default;
}
a.dxeDisabled_PMC2:hover
{
	color: #acacac;
}
.dxeButtonDisabled_PMC2,
.dxeButtonDisabled_PMC2 td.dxe
{
	border-color: #e9e9e9;
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_PMC2
{
	color: #333333;
	vertical-align: middle;
	border: 1px solid #c0c0c0;
	background-color: white;
	padding: 1px;
	cursor: pointer;
	font: normal 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxbButton_PMC2.dxbDisabled_PMC2
{
	border-color: #e9e9e9;
	color: #b8b8b8;
	cursor: default;
}
.dxbButtonHover_PMC2
{
	color: white;
	background-color: #0072C6;
	border: 1px solid #0072C6;
}
.dxbButtonChecked_PMC2
{
	color: #333333;
	background-color: #C0C0C0;
}
.dxbButtonPressed_PMC2
{
	color: white;
	background-color: #C0C0C0;
}
.dxbButton_PMC2 div.dxb
{
	padding: 3px 8px 4px;
	border-width: 0px;
}
.dxbButton_PMC2 div.dxbf
{
	padding: 2px 7px 3px;
	border: 1px dotted #333333;
}
.dxbButton_PMC2 div.dxb td.dxb
{
	background: transparent url('')!important;
	border-width: 0px!important;
	padding: 0px!important;
}
/* Disabled */
.dxbDisabled_PMC2
{
	border-color: #c3c3c3;
	color: #808080;
	cursor: default;
}
.dxbDisabled_PMC2 td.dxb
{
	color: #808080;
}
/* -- FilterControl -- */
.dxfcTable_PMC2
{
	border-collapse: separate!important;
}
.dxfcTable_PMC2 td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: Black;
}
a.dxfcPropertyName_PMC2
{
	white-space: nowrap!important;
	color: #1086d4!important;
}
a.dxfcGroupType_PMC2
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: #db3412!important;
}
a.dxfcOperation_PMC2
{
	white-space: nowrap!important;
	color: #6fb111!important;
}
a.dxfcValue_PMC2
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxfcLoadingDiv_PMC2
{
	background: white none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxfcLoadingPanel_PMC2
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}
.dxfcLoadingPanel_PMC2 td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}

.dxeMaskHint_PMC2
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

/* -- ProgressBar -- */
.dxeProgressBar_PMC2
{
	background-color: #e0e0e0;
}
.dxeProgressBar_PMC2,
.dxeProgressBar_PMC2 td.dxe
{
	color: #333333;
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.dxeProgressBar_PMC2 .dxePBMainCell_PMC2,
.dxeProgressBar_PMC2 td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_PMC2
{
	background-color: #0072C6;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_PMC2
{
	background-color: white;
	border: 1px solid #c0c0c0;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_PMC2
{
	width: 13px;
	height: 13px;
	cursor: pointer;
	margin-left: 3px;
}
.dxeColorTable_PMC2,
.dxeItemPicker_PMC2
{
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.dxeColorTable_PMC2 td.dx,
.dxeItemPicker_PMC2 td.dx
{
	padding: 4px;
}
.dxeColorTableCell_PMC2,
.dxeItemPickerCell_PMC2
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_PMC2
{
	border: 1px solid #c0c0c0;
	width: 12px;
	height: 12px;
	font-size: 0px;
}
.dxeColorTableCellSelected_PMC2
{
	padding: 0px!important;
	background-color: #CBCBCB;
	border: 3px solid #0072C6;
}
.dxeColorTableCellSelected_PMC2 .dxeColorTableCellDiv_PMC2
{
	border: 1px solid white;
}
.dxeColorTableCellHover_PMC2,
.dxeItemPickerCellHover_PMC2
{
	padding: 0px!important;
	background-color: #F2F2F2;
	border: 3px solid #E0E0E0;
}

/* -- Invalid Style -- */
.dxeInvalid_PMC2
{
}
.dxeInvalid_PMC2 .dxeEditArea_PMC2,
.dxeInvalid_PMC2 .dxeMemoEditArea_PMC2
{
}

/* -- Focused Style -- */
.dxeFocused_PMC2
{
	border: 1px solid #0072C6;
}
.dxeFocused_PMC2.dxeTrackBar_PMC2
{
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_PMC2 .dxeEditArea_PMC2,
.dxeNullText_PMC2 .dxeMemoEditArea_PMC2
{
	color: #818181;
}

/* -- Captcha -- */
.dxcaControl_PMC2 
{
}

.dxcaRefreshButton_PMC2
{
	font: 13px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_PMC2
{
	color: #acacac;
}

.dxcaRefreshButtonCell_PMC2
{
	padding-left: 4px;
	border-bottom: 2px solid #e0e0e0;
}

.dxcaRefreshButtonText_PMC2
{
}

.dxcaDisabledRefreshButtonText_PMC2
{
}

.dxcaTextBoxCell_PMC2
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

.dxcaTextBoxCell_PMC2,
.dxcaTextBoxCellNoIndent_PMC2
{
	font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

.dxcaTextBoxCell_PMC2 .dxeErrorCell_PMC2
{
}

.dxcaTextBoxCellNoIndent_PMC2 .dxeErrorCell_PMC2
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_PMC2
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_PMC2
{
	background-color: white;
	font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	color: #333333;
}

.dxcaLoadingPanel_PMC2 td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 2px;
}

.dxpcControl_PMC2 .dxHFBPS,
.dxpcLite_PMC2 .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_PMC2,
.dxeButtonEdit_PMC2,
.dxeIRadioButton_PMC2,
.dxeRadioButtonList_PMC2,
.dxeCheckBoxList_PMC2
{
    cursor: default;
}

:root .dxeTextBox_PMC2 td.dxic, 
:root .dxeButtonEdit_PMC2 td.dxic {
    padding-top: 1px;
}
.dxeTextBox_PMC2 td.dxic,
.dxeButtonEdit_PMC2 td.dxic {
    padding-top: 2px;
    *padding-top: 1px;
}
.dxeButtonEdit_PMC2 td.dxic {
    *padding-bottom: 1px;
}
:root .dxeTextBox_PMC2 td.dxic .dxeEditArea_PMC2,
:root .dxeButtonEdit_PMC2 td.dxic .dxeEditArea_PMC2 {
    height: 16px;
}
.dxeTextBox_PMC2 td.dxic .dxeEditArea_PMC2,
.dxeButtonEdit_PMC2 td.dxic .dxeEditArea_PMC2 {
    height: 15px;
}

.dxeButtonEdit_PMC2 td.dxic 
{
    *padding-left: 2px;
}
*[dir="rtl"].dxeTextBox_PMC2 td.dxic
{
    *padding-right: 2px;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_PMC2, 
.dxeIRadioButton_PMC2, 
.dxeButtonEdit_PMC2, 
.dxeTextBox_PMC2, 
.dxeRadioButtonList_PMC2, 
.dxeCheckBoxList_PMC2, 
.dxeMemo_PMC2, 
.dxeListBox_PMC2, 
.dxeCalendar_PMC2, 
.dxeColorTable_PMC2
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Layout Control */
.dxeLayoutConrtol_PMC2 
{
    display: table;
}
.dxeLyGroupCell_PMC2 
{
    padding: 5px;
}
.dxeLyItem_PMC2 
{
}
.dxeLyCaptionCell_PMC2
{
    padding:6px;
}
.dxeLyEditorCell_PMC2 
{   
    padding:5px;
}

.dxeLyCaptionCell_PMC2 
{
    color: #004184;
    font-weight: bold;
    white-space: nowrap;
}
.dxeLyEditorCell_PMC2 
{
    width: 0;
}
.dxeLyGroupBox_PMC2 
{
    border: 1px Solid #9F9F9F;
    border-radius: 4px;
    padding: 10px;
}
.dxeLyGroupBoxCaption_PMC2 > span 
{
    background-color: White;
    padding-left: 5px;
    padding-right: 5px;   
}
.dxeLyGroupBoxCaption_PMC2 
{
    position:relative;
    margin-top: -21px;
}
.dxeLyGroup_PMC2 
{
    width: 100%;
}

.dxeLyVATSys > label 
{
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
}

.dxeLyEditorCell_PMC2 > .dxeMemoSys 
{
    margin-top: 3px;
}

.dxeLyEditorCell_PMC2 > label.dxeBase_PMC2 
{
    display: block;
    white-space: nowrap;
}

.dxeLyEditorCell_PMC2 > .dxeTextBoxSys,
.dxeLyEditorCell_PMC2 > .dxeButtonEdit_PMC2
{
}


