<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="pnrClient.Properties.Settings.ptServer35ConnectionString" connectionString="Data Source=|DataDirectory|\ptServer35.sdf;Password=dbpontoSADCTI;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="pnrClient.Properties.Settings.ptServer35ConnectionString1" connectionString="Data Source=|DataDirectory|\ptServer35.sdf;Password=dbpontoSADCTI;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="pnrClient.Properties.Settings.ptServer35ConnectionString2" connectionString="Data Source=|DataDirectory|\bin\Debug\DBpnrClient\ptServer35.sdf;Password=dbpontoSADCTI;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.serviceModel>
    <!--<client>
      <endpoint address="http://wscbateste.pontonarede.com.br/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="pontonarede.ServiceSoap" name="ServiceSoap" />
    </client>-->
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" openTimeout="00:00:03" receiveTimeout="00:30:00"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.pontoweb.cuiaba.mt.gov.br/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="pontonarede.ServiceSoap" name="ServiceSoap" />
    </client>
      <!--<endpoint address="http://devpontoweb.metati.com.br/ws/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="pontonarede.ServiceSoap" name="ServiceSoap" />--><!--
    <client> 
      <endpoint address="http://ws.pontoweb.cuiaba.mt.gov.br/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="pontonarede.ServiceSoap" name="ServiceSoap" />
    </client>-->
  </system.serviceModel>
  <appSettings>
    <add key="hash" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>