.dxGridView_gvCollapsedButton_PMC2,
.dxGridView_gvCollapsedButtonRtl_PMC2,
.dxGridView_gvExpandedButton_PMC2,
.dxGridView_gvExpandedButtonRtl_PMC2,
.dxGridView_gvDetailCollapsedButton_PMC2,
.dxGridView_gvDetailCollapsedButtonRtl_PMC2,
.dxGridView_gvDetailExpandedButton_PMC2,
.dxGridView_gvDetailExpandedButtonRtl_PMC2,
.dxGridView_gvFilterRowButton_PMC2,
.dxGridView_gvHeaderFilter_PMC2,
.dxGridView_gvHeaderFilterActive_PMC2,
.dxGridView_gvHeaderSortDown_PMC2,
.dxGridView_gvHeaderSortUp_PMC2,
.dxGridView_gvDragAndDropArrowDown_PMC2,
.dxGridView_gvDragAndDropArrowUp_PMC2,
.dxGridView_gvDragAndDropHideColumn_PMC2,
.dxGridView_gvParentGroupRows_PMC2,
.dxGridView_WindowResizer_PMC2,
.dxGridView_WindowResizerRtl_PMC2
{
	background: transparent url('sprite.png') no-repeat;
}

.dxGridView_gvCollapsedButton_PMC2
{
    background-position: -35px 0px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvCollapsedButtonRtl_PMC2 
{
    background-position: -89px -38px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedGroupRow_PMC2 .dxGridView_gvCollapsedButton_PMC2
{
    background-position: -52px 0px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedGroupRow_PMC2 .dxGridView_gvCollapsedButtonRtl_PMC2 {
    background-position: -106px -px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvExpandedButton_PMC2
{
    background-position: -35px -18px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvExpandedButtonRtl_PMC2 
{
    background-position: -89px -56px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedGroupRow_PMC2 .dxGridView_gvExpandedButton_PMC2
{
    background-position: -52px -18px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedGroupRow_PMC2 .dxGridView_gvExpandedButtonRtl_PMC2 
{
    background-position: -106px -56px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvDetailCollapsedButton_PMC2
{
    background-position: -35px 0px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvDetailCollapsedButtonRtl_PMC2 
{
    background-position: -89px -38px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedRow_PMC2 .dxGridView_gvDetailCollapsedButton_PMC2
{
    background-position: -52px 0px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedRow_PMC2 .dxGridView_gvDetailCollapsedButtonRtl_PMC2 {
    background-position: -106px -38px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvDetailExpandedButton_PMC2
{
    background-position: -35px -18px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvDetailExpandedButtonRtl_PMC2 
{
    background-position: -89px -56px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedRow_PMC2 .dxGridView_gvDetailExpandedButton_PMC2
{
    background-position: -52px -18px;
    width: 13px;
    height: 13px;
}

.dxgvFocusedRow_PMC2 .dxGridView_gvDetailExpandedButtonRtl_PMC2 {
    background-position: -106px -56px;
    width: 13px;
    height: 13px;
}

.dxGridView_gvFilterRowButton_PMC2 
{
    background-position: -100px 0px;
    width: 14px;
    height: 14px;
}

.dxGridView_gvHeaderFilter_PMC2 {
    background-position: 0px -36px;
    width: 14px;
    height: 16px;
}

.dxGridView_gvHeaderFilterActive_PMC2 
{
    background-position: -23px -36px;
    width: 14px;
    height: 16px;
}

.dxGridView_gvHeaderSortDown_PMC2 {
    background-position: -19px -1px;
    width: 7px;
    height: 5px;
}

.dxGridView_gvHeaderSortUp_PMC2 {
    background-position: -19px -7px;
    width: 7px;
    height: 5px;
}

.dxGridView_gvDragAndDropArrowDown_PMC2 {
    background-position: 0px 0px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropArrowUp_PMC2 {
    background-position: 0px -17px;
    width: 11px;
    height: 9px;
}

.dxGridView_gvDragAndDropHideColumn_PMC2 {
    background-position: -70px 0px;
    width: 22px;
    height: 22px;
}

.dxGridView_gvParentGroupRows_PMC2 {
    background-position: -70px -36px;
    width: 18px;
    height: 13px;
}

.dxGridView_WindowResizer_PMC2 {
    background-position: -46px -36px;
    width: 16px;
    height: 16px;
}

.dxGridView_WindowResizerRtl_PMC2 {
    background-position: -46px -54px;
    width: 16px;
    height: 16px;
}



