-- =============================================
-- Author:		<Author,,,0>
-- Create date: <Create Date,,30/07/2019>
-- Description:	<Description,,Registra historico da flag isento Vinculo usuario>
-- =============================================
CREATE TRIGGER [dbo].[AtualizaPadraoIsento]
   ON  [dbo].[TBVinculoUsuario]
  after INSERT,UPDATE
AS 
BEGIN
SET NOCOUNT ON;
DECLARE @VINCULOID BIGINT, @USUARIOID INTEGER, @ISENTO BIT, @ISENTOBANCO BIT;
SELECT @VINCULOID = IDVinculoUsuario, @USUARIOID = idusuario, @ISENTO = IsencaoPonto FROM INSERTED;
SELECT @ISENTOBANCO = Isento FROM TBUsuarioIsentoPadrao WHERE IDUsuario = @USUARIOID AND IDVinculoUsuario = @VINCULOID AND PadraoAtual = 1;

	IF(SELECT COUNT(IDUsuarioIsentoPadrao) FROM TBUsuarioIsentoPadrao 
	WHERE IDUsuario = @USUARIOID AND IDVinculoUsuario = @VINCULOID AND PadraoAtual = 1) > 0
	BEGIN
	IF(@ISENTO <> @ISENTOBANCO)
	BEGIN 
	--UPDATE
	   UPDATE TBUsuarioIsentoPadrao SET PadraoAtual = 0, DTFim = CONVERT(DATE,GETDATE()) WHERE  PadraoAtual = 1
	   AND IDUsuario = @USUARIOID AND IDVinculoUsuario = @VINCULOID;
	--INSERT
	   INSERT INTO TBUsuarioIsentoPadrao (IDUsuario, IDVinculoUsuario, DTInicio,Isento,PadraoAtual)
	   VALUES(@USUARIOID, @VINCULOID,DATEADD(DAY,1,CONVERT(DATE,GETDATE())),@ISENTO,1);
	END
	END
	ELSE IF(@ISENTO = 1)
	BEGIN
	--INSERT
		INSERT INTO TBUsuarioIsentoPadrao (IDUsuario, IDVinculoUsuario, DTInicio,Isento, PadraoAtual)
	    VALUES(@USUARIOID, @VINCULOID,CONVERT(DATE,GETDATE()),@ISENTO,1);
	END

END
