USE [PontoFrequencia]
GO
/****** Object:  Table [dbo].[TBMes]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBMes](
	[IDMes] [int] IDENTITY(1,1) NOT NULL,
	[DSMes] [varchar](50) NULL,
 CONSTRAINT [PK_TBMes] PRIMARY KEY CLUSTERED 
(
	[IDMes] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBMes] ON
INSERT [dbo].[TBMes] ([IDMes], [DSMes]) VALUES (1, N'Janeiro')
INSERT [dbo].[TBMes] ([IDMes], [DSMes]) VALUES (2, N'Fevereiro')
INSERT [dbo].[TBMes] ([IDMes], [DSMes]) VALUES (3, N'Março')
SET IDENTITY_INSERT [dbo].[TBMes] OFF
/****** Object:  Table [dbo].[TBTipoFeriadoPontoFacultativo]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBTipoFeriadoPontoFacultativo](
	[IDTPFeiradoPontoFacultativo] [int] IDENTITY(1,1) NOT NULL,
	[DSTPFeriadoPontoFacultativo] [varchar](50) NULL,
 CONSTRAINT [PK_TBTipoFeriadoPontoFacultativo] PRIMARY KEY CLUSTERED 
(
	[IDTPFeiradoPontoFacultativo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBTipoFeriadoPontoFacultativo] ON
INSERT [dbo].[TBTipoFeriadoPontoFacultativo] ([IDTPFeiradoPontoFacultativo], [DSTPFeriadoPontoFacultativo]) VALUES (1, N'Feriado Nacional')
INSERT [dbo].[TBTipoFeriadoPontoFacultativo] ([IDTPFeiradoPontoFacultativo], [DSTPFeriadoPontoFacultativo]) VALUES (2, N'Feriado Estadual')
INSERT [dbo].[TBTipoFeriadoPontoFacultativo] ([IDTPFeiradoPontoFacultativo], [DSTPFeriadoPontoFacultativo]) VALUES (3, N'Feriado Municipal')
SET IDENTITY_INSERT [dbo].[TBTipoFeriadoPontoFacultativo] OFF
/****** Object:  Table [dbo].[TBTipoFerias]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBTipoFerias](
	[IDTPFerias] [int] IDENTITY(1,1) NOT NULL,
	[DSTPFerias] [varchar](50) NULL,
 CONSTRAINT [PK_TBTipoFerias] PRIMARY KEY CLUSTERED 
(
	[IDTPFerias] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBTipoFerias] ON
INSERT [dbo].[TBTipoFerias] ([IDTPFerias], [DSTPFerias]) VALUES (1, N'Férias')
INSERT [dbo].[TBTipoFerias] ([IDTPFerias], [DSTPFerias]) VALUES (2, N'Licença Prêmio')
INSERT [dbo].[TBTipoFerias] ([IDTPFerias], [DSTPFerias]) VALUES (3, N'Licença Maternidade')
SET IDENTITY_INSERT [dbo].[TBTipoFerias] OFF
/****** Object:  View [dbo].[vwHoras]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwHoras]
AS
SELECT     GETDATE() AS Horas
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwHoras'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwHoras'
GO
/****** Object:  Table [dbo].[TBOrgao]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBOrgao](
	[IDOrgao] [int] IDENTITY(1,1) NOT NULL,
	[DSOrgao] [varchar](100) NULL,
	[Sigla] [varchar](20) NULL,
 CONSTRAINT [PK_TBOrgao] PRIMARY KEY CLUSTERED 
(
	[IDOrgao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBOrgao] ON
INSERT [dbo].[TBOrgao] ([IDOrgao], [DSOrgao], [Sigla]) VALUES (1, N'Secretaria de Estado de Administração', NULL)
SET IDENTITY_INSERT [dbo].[TBOrgao] OFF
/****** Object:  Table [dbo].[TBMotivoFalta]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBMotivoFalta](
	[IDMotivoFalta] [int] IDENTITY(1,1) NOT NULL,
	[DSMotivoFalta] [varchar](100) NULL,
 CONSTRAINT [PK_TBMotivoFalta] PRIMARY KEY CLUSTERED 
(
	[IDMotivoFalta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBMotivoFalta] ON
INSERT [dbo].[TBMotivoFalta] ([IDMotivoFalta], [DSMotivoFalta]) VALUES (1, N'Problemas de Saúde')
INSERT [dbo].[TBMotivoFalta] ([IDMotivoFalta], [DSMotivoFalta]) VALUES (2, N'Morte na Familia')
INSERT [dbo].[TBMotivoFalta] ([IDMotivoFalta], [DSMotivoFalta]) VALUES (3, N'Diarréia')
SET IDENTITY_INSERT [dbo].[TBMotivoFalta] OFF
/****** Object:  Table [dbo].[TBCargo]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCargo](
	[IDCargo] [int] IDENTITY(1,1) NOT NULL,
	[DSCargo] [varchar](50) NULL,
 CONSTRAINT [PK_TBCargo] PRIMARY KEY CLUSTERED 
(
	[IDCargo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBCargo] ON
INSERT [dbo].[TBCargo] ([IDCargo], [DSCargo]) VALUES (1, N'')
INSERT [dbo].[TBCargo] ([IDCargo], [DSCargo]) VALUES (2, N'Analista de Sistemas')
INSERT [dbo].[TBCargo] ([IDCargo], [DSCargo]) VALUES (3, N'Técnico da Área Instrumental                      ')
SET IDENTITY_INSERT [dbo].[TBCargo] OFF
/****** Object:  Table [dbo].[TBTipoUsuario]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBTipoUsuario](
	[IDTPUsuario] [int] IDENTITY(1,1) NOT NULL,
	[DSTPUsuario] [varchar](20) NULL,
	[OBS] [varchar](150) NULL,
 CONSTRAINT [PK_TBTipoUsuario] PRIMARY KEY CLUSTERED 
(
	[IDTPUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBTipoUsuario] ON
INSERT [dbo].[TBTipoUsuario] ([IDTPUsuario], [DSTPUsuario], [OBS]) VALUES (1, N'Administrador', N'Administrador Geral do Sistema')
INSERT [dbo].[TBTipoUsuario] ([IDTPUsuario], [DSTPUsuario], [OBS]) VALUES (2, N'Funcionário', N'Usuário Comum')
INSERT [dbo].[TBTipoUsuario] ([IDTPUsuario], [DSTPUsuario], [OBS]) VALUES (3, N'Gestor', N'Responsável pela manutenção do ponto por Setor')
SET IDENTITY_INSERT [dbo].[TBTipoUsuario] OFF
/****** Object:  Table [dbo].[TBStatus]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBStatus](
	[IDStatus] [int] IDENTITY(1,1) NOT NULL,
	[DSStatus] [varchar](20) NULL,
 CONSTRAINT [PK_TBStatus] PRIMARY KEY CLUSTERED 
(
	[IDStatus] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBStatus] ON
INSERT [dbo].[TBStatus] ([IDStatus], [DSStatus]) VALUES (1, N'ATIVADO')
INSERT [dbo].[TBStatus] ([IDStatus], [DSStatus]) VALUES (2, N'DESATIVADO')
SET IDENTITY_INSERT [dbo].[TBStatus] OFF
/****** Object:  Table [dbo].[TBInformacaoDiaria]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBInformacaoDiaria](
	[TBInformacaoDiaria] [int] IDENTITY(1,1) NOT NULL,
	[DSInformacaoDiaria] [varchar](250) NULL,
	[DTInformacaoDiaria] [datetime] NULL,
 CONSTRAINT [PK_TBInformacaoDiaria] PRIMARY KEY CLUSTERED 
(
	[TBInformacaoDiaria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBInformacaoDiaria] ON
INSERT [dbo].[TBInformacaoDiaria] ([TBInformacaoDiaria], [DSInformacaoDiaria], [DTInformacaoDiaria]) VALUES (52, N'Versão Biométrica', CAST(0x00009F8800000000 AS DateTime))
INSERT [dbo].[TBInformacaoDiaria] ([TBInformacaoDiaria], [DSInformacaoDiaria], [DTInformacaoDiaria]) VALUES (53, N'Versão Biométrica 3                                                                                                                                                                                                                                       ', CAST(0x00009F7900000000 AS DateTime))
INSERT [dbo].[TBInformacaoDiaria] ([TBInformacaoDiaria], [DSInformacaoDiaria], [DTInformacaoDiaria]) VALUES (58, N'teste                                                                                                                                                                                                                                                     ', NULL)
SET IDENTITY_INSERT [dbo].[TBInformacaoDiaria] OFF
/****** Object:  Table [dbo].[TBFeriadoPontoFacultativo]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBFeriadoPontoFacultativo](
	[IDFeriadoPontoFacultativo] [int] IDENTITY(1,1) NOT NULL,
	[DSFeriadoPontoFacultativo] [varchar](150) NULL,
	[DTFeriadoPontoFacultativo] [datetime] NULL,
	[FeriadoAnual] [binary](50) NULL,
	[IDTPFeriadoPontoFacultativo] [int] NULL,
 CONSTRAINT [PK_TBFeriadoPontoFacultativo] PRIMARY KEY CLUSTERED 
(
	[IDFeriadoPontoFacultativo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBFeriadoPontoFacultativo] ON
INSERT [dbo].[TBFeriadoPontoFacultativo] ([IDFeriadoPontoFacultativo], [DSFeriadoPontoFacultativo], [DTFeriadoPontoFacultativo], [FeriadoAnual], [IDTPFeriadoPontoFacultativo]) VALUES (2, N'Dia da Indempedência                                                                                                                                  ', CAST(0x00009F5700000000 AS DateTime), NULL, 1)
INSERT [dbo].[TBFeriadoPontoFacultativo] ([IDFeriadoPontoFacultativo], [DSFeriadoPontoFacultativo], [DTFeriadoPontoFacultativo], [FeriadoAnual], [IDTPFeriadoPontoFacultativo]) VALUES (3, N'Nossa Senhora Aparecida                                                                                                                               ', CAST(0x00009F7A00000000 AS DateTime), NULL, 1)
INSERT [dbo].[TBFeriadoPontoFacultativo] ([IDFeriadoPontoFacultativo], [DSFeriadoPontoFacultativo], [DTFeriadoPontoFacultativo], [FeriadoAnual], [IDTPFeriadoPontoFacultativo]) VALUES (4, N'Proclamação da República                                                                                                                              ', CAST(0x00009F9C00000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[TBFeriadoPontoFacultativo] OFF
/****** Object:  Table [dbo].[TBEntidade]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBEntidade](
	[IDEntidade] [int] IDENTITY(1,1) NOT NULL,
	[DSEntidade] [varchar](50) NULL,
	[IDStatus] [int] NULL,
 CONSTRAINT [PK_TBEntidade] PRIMARY KEY CLUSTERED 
(
	[IDEntidade] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBEntidade] ON
INSERT [dbo].[TBEntidade] ([IDEntidade], [DSEntidade], [IDStatus]) VALUES (2, N'Funcionário Público', 1)
INSERT [dbo].[TBEntidade] ([IDEntidade], [DSEntidade], [IDStatus]) VALUES (3, N'Tercerizado - Ábaco', 1)
INSERT [dbo].[TBEntidade] ([IDEntidade], [DSEntidade], [IDStatus]) VALUES (4, N'Estagiário                                        ', 1)
SET IDENTITY_INSERT [dbo].[TBEntidade] OFF
/****** Object:  Table [dbo].[TBSetor]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBSetor](
	[IDSetor] [int] IDENTITY(1,1) NOT NULL,
	[DSSetor] [varchar](100) NULL,
	[IDOrgao] [int] NULL,
	[IDStatus] [int] NULL,
	[Sigla] [varchar](18) NULL,
	[EntradaManha] [datetime] NULL,
	[SaidaManha] [datetime] NULL,
	[EntradaTarde] [datetime] NULL,
	[SaidaTarde] [datetime] NULL,
 CONSTRAINT [PK_TBSetor] PRIMARY KEY CLUSTERED 
(
	[IDSetor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBSetor] ON
INSERT [dbo].[TBSetor] ([IDSetor], [DSSetor], [IDOrgao], [IDStatus], [Sigla], [EntradaManha], [SaidaManha], [EntradaTarde], [SaidaTarde]) VALUES (1, N'Coordenadoria de Tecnologia da Informação                                                           ', 1, 1, N'CTI               ', CAST(0x00009F800083D600 AS DateTime), CAST(0x00009F8000C5C100 AS DateTime), CAST(0x00009F8000E6B680 AS DateTime), CAST(0x00009F800128A180 AS DateTime))
SET IDENTITY_INSERT [dbo].[TBSetor] OFF
/****** Object:  Table [dbo].[TBUsuario]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBUsuario](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDSetor] [int] NOT NULL,
	[IDStatus] [int] NOT NULL,
	[IDEntidade] [int] NOT NULL,
	[DSUsuario] [varchar](20) NOT NULL,
	[Login] [varchar](15) NOT NULL,
	[DTCadastro] [datetime] NULL,
	[Senha] [varbinary](max) NULL,
	[DTExclusao] [datetime] NULL,
	[IDTPUsuario] [int] NULL,
	[SenhaAdmin] [varchar](20) NULL,
	[IDCargo] [int] NULL,
	[TotHorasDiarias] [int] NULL,
	[HoraEntradaManha] [varchar](5) NULL,
	[HoraEntradaTarde] [varchar](5) NULL,
	[HoraSaidaManha] [varchar](5) NULL,
	[HoraSaidaTarde] [varchar](5) NULL,
	[PrimeiroNome] [varchar](20) NULL,
	[PrimeiroAcesso] [int] NULL,
	[SenhaDigital] [varchar](1) NULL,
	[AcessoEspecial] [bit] NULL,
	[Senha2] [varbinary](max) NULL,
	[Senha3] [varbinary](max) NULL,
 CONSTRAINT [PK_TBUsuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_TBUsuario] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBUsuario] ON
SET IDENTITY_INSERT [dbo].[TBUsuario] OFF
/****** Object:  Table [dbo].[TBFerias]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBFerias](
	[IDFerias] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NULL,
	[IDStatus] [int] NULL,
	[DTInicioFerias] [datetime] NULL,
	[DTFimFerias] [datetime] NULL,
	[IDTPFerias] [int] NULL,
 CONSTRAINT [PK_TBFerias] PRIMARY KEY CLUSTERED 
(
	[IDFerias] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBFrequencia]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBFrequencia](
	[IDFrequencia] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDMotivoFalta] [int] NULL,
	[DTFrequencia] [datetime] NOT NULL,
	[HoraEntraManha] [datetime] NULL,
	[HoraSaidaManha] [datetime] NULL,
	[HoraEntradaTarde] [datetime] NULL,
	[HoraSaidaTarde] [datetime] NULL,
	[OBS] [varchar](150) NULL,
	[TotalHorasDias] [datetime] NULL,
	[MesReferencia] [int] NULL,
	[Justificado] [int] NULL,
 CONSTRAINT [PK_TBFrequencia] PRIMARY KEY CLUSTERED 
(
	[IDFrequencia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBFrequencia] ON
INSERT [dbo].[TBFrequencia] ([IDFrequencia], [IDUsuario], [IDMotivoFalta], [DTFrequencia], [HoraEntraManha], [HoraSaidaManha], [HoraEntradaTarde], [HoraSaidaTarde], [OBS], [TotalHorasDias], [MesReferencia], [Justificado]) VALUES (61, 21, NULL, CAST(0x00009F2D00000000 AS DateTime), NULL, NULL, CAST(0x00009F2D0129B67B AS DateTime), NULL, NULL, NULL, 7, NULL)
INSERT [dbo].[TBFrequencia] ([IDFrequencia], [IDUsuario], [IDMotivoFalta], [DTFrequencia], [HoraEntraManha], [HoraSaidaManha], [HoraEntradaTarde], [HoraSaidaTarde], [OBS], [TotalHorasDias], [MesReferencia], [Justificado]) VALUES (64, 21, NULL, CAST(0x00009F2E00000000 AS DateTime), CAST(0x00009F2E00823EA1 AS DateTime), CAST(0x00009F2E00C66741 AS DateTime), CAST(0x00009F2E00E4D99D AS DateTime), CAST(0x00009F2E00EC7FD5 AS DateTime), NULL, CAST(0x00009F2E004BCED8 AS DateTime), 7, NULL)
INSERT [dbo].[TBFrequencia] ([IDFrequencia], [IDUsuario], [IDMotivoFalta], [DTFrequencia], [HoraEntraManha], [HoraSaidaManha], [HoraEntradaTarde], [HoraSaidaTarde], [OBS], [TotalHorasDias], [MesReferencia], [Justificado]) VALUES (91, 21, NULL, CAST(0x00009F2F00000000 AS DateTime), CAST(0x00009F2F008101B2 AS DateTime), CAST(0x00009F2F00C63068 AS DateTime), CAST(0x00009F2F00F40308 AS DateTime), NULL, NULL, NULL, 7, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[TBFrequencia] OFF
/****** Object:  Table [dbo].[TBLog]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLog](
	[IDlog] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NULL,
	[Operacao] [varchar](50) NULL,
	[Dado] [varchar](100) NULL,
	[DadoAnterior] [varchar](100) NULL,
	[DTInclusao] [datetime] NULL,
	[Metodo] [varchar](50) NULL,
 CONSTRAINT [PK_TBLog] PRIMARY KEY CLUSTERED 
(
	[IDlog] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vWHorasDia]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vWHorasDia]
AS
 SELECT     CONVERT(nvarchar, PrimeiroNome + ' ' + DSUsuario) AS DSUsuario, dbo.TBUsuario.IDUsuario, dbo.TBUsuario.PrimeiroNome, CONVERT(nvarchar, 
                      ISNULL(dbo.TBFrequencia.DTFrequencia, 0), 103) AS DataFrequencia, CONVERT(nvarchar, ISNULL(dbo.TBFrequencia.HoraEntraManha, 0), 108) AS EntradaManha,
                          (SELECT     DATEPART(year, dbo.TBFrequencia.DTFrequencia) AS Expr1) AS ano, CONVERT(nvarchar, ISNULL(dbo.TBFrequencia.HoraSaidaManha, 0), 108) 
                      AS SaidaManha, CONVERT(nvarchar, ISNULL(dbo.TBFrequencia.HoraEntradaTarde, 0), 108) AS EntradaTarde, CONVERT(nvarchar, 
                      ISNULL(dbo.TBFrequencia.HoraSaidaTarde, 0), 108) AS SaidaTarde, CONVERT(nvarchar, ISNULL(dbo.TBFrequencia.TotalHorasDias, 0), 108) AS HorasDia, 
                      dbo.TBSetor.DSSetor, ISNULL(dbo.TBFrequencia.OBS, '') AS OBS, dbo.TBFrequencia.IDFrequencia, dbo.TBSetor.IDSetor, 
                      dbo.TBUsuario.TotHorasDiarias, CONVERT(nvarchar, isnull(dbo.TBFrequencia.Justificado, 0), 108) AS Justificado, CONVERT(nvarchar, 
                      dbo.TBMotivoFalta.DSMotivoFalta) AS MF, TBMES.DSMES, CONVERT(nvarchar, isnull(TBMotivoFalta.IDMotivoFalta, 0), 108) AS IMF, 
                      TBFrequencia.MesReferencia
FROM         dbo.TBUsuario, dbo.TBFrequencia, dbo.TBSetor, dbo.TBMotivoFalta, dbo.TBMes
WHERE     TBUsuario.IDUsuario = TBFrequencia.IDUsuario AND TBUsuario.IDSetor = TBSetor.IDSetor AND TBMotivoFalta.IDMotivoFalta = TBFrequencia.IDMotivoFalta AND 
                      TBMes.IDMes = TBFrequencia.MesReferencia
UNION
SELECT     CONVERT(nvarchar, PrimeiroNome + ' ' + DSUsuario) AS DSUsuario, dbo.TBUsuario.IDUsuario, dbo.TBUsuario.PrimeiroNome, CONVERT(nvarchar, 
                      ISNULL(dbo.TBFrequencia.DTFrequencia, 0), 103) AS DataFrequencia, CONVERT(nvarchar, ISNULL(dbo.TBFrequencia.HoraEntraManha, 0), 108) AS EntradaManha,
                          (SELECT     DATEPART(year, dbo.TBFrequencia.DTFrequencia) AS Expr1) AS ano, CONVERT(nvarchar, ISNULL(dbo.TBFrequencia.HoraSaidaManha, 0), 108) 
                      AS SaidaManha, CONVERT(nvarchar, ISNULL(dbo.TBFrequencia.HoraEntradaTarde, 0), 108) AS EntradaTarde, CONVERT(nvarchar, 
                      ISNULL(dbo.TBFrequencia.HoraSaidaTarde, 0), 108) AS SaidaTarde, CONVERT(nvarchar, ISNULL(dbo.TBFrequencia.TotalHorasDias, 0), 108) AS HorasDia, 
                      dbo.TBSetor.DSSetor, ISNULL(dbo.TBFrequencia.OBS, '') AS OBS, dbo.TBFrequencia.IDFrequencia, dbo.TBSetor.IDSetor, 
                      dbo.TBUsuario.TotHorasDiarias, CONVERT(nvarchar, isnull(dbo.TBFrequencia.Justificado, 0), 108) AS Justificado, CONVERT(nvarchar, 
                      dbo.TBFrequencia.IDMotivoFalta) AS MF, TBMES.DSMES, CONVERT(nvarchar, isnull(TBFrequencia.IDMotivoFalta, 0), 108) AS IMF, TBFrequencia.MesReferencia
FROM         dbo.TBUsuario, dbo.TBFrequencia, dbo.TBSetor, dbo.TBMes
WHERE     TBUsuario.IDUsuario = TBFrequencia.IDUsuario AND TBUsuario.IDSetor = TBSetor.IDSetor AND TBMes.IDMes = TBFrequencia.MesReferencia AND 
                      TBFrequencia.IDMotivoFalta IS NULL
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -288
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 19
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3825
         Alias = 3210
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vWHorasDia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vWHorasDia'
GO
/****** Object:  View [dbo].[vwFeriadoPontoFacultativo]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwFeriadoPontoFacultativo]
AS
SELECT        TBFeriadoPontoFacultativo.IDFeriadoPontoFacultativo, TBFeriadoPontoFacultativo.DSFeriadoPontoFacultativo, CONVERT(nvarchar, DATEPART(day, TBFeriadoPontoFacultativo.DTFeriadoPontoFacultativo), 108) + '/' + CONVERT(nvarchar, DATEPART(month, 
                                                     TBFeriadoPontoFacultativo.DTFeriadoPontoFacultativo), 108) AS DTFeriadoPontoFacultativo, TBFeriadoPontoFacultativo.FeriadoAnual, 
                         TBFeriadoPontoFacultativo.IDTPFeriadoPontoFacultativo, TBTipoFeriadoPontoFacultativo.DSTPFeriadoPontoFacultativo
FROM            TBFeriadoPontoFacultativo, TBTipoFeriadoPontoFacultativo 
Where TBFeriadoPontoFacultativo.IDTPFeriadoPontoFacultativo between 1 AND 3
AND TBFeriadoPontoFacultativo.IDTPFeriadoPontoFacultativo = TBTipoFeriadoPontoFacultativo.IDTPFeiradoPontoFacultativo
Union
SELECT        TBFeriadoPontoFacultativo.IDFeriadoPontoFacultativo, TBFeriadoPontoFacultativo.DSFeriadoPontoFacultativo, CONVERT(nvarchar, TBFeriadoPontoFacultativo.DTFeriadoPontoFacultativo, 103) AS DTFeriadoPontoFacultativo, TBFeriadoPontoFacultativo.FeriadoAnual, 
                         TBFeriadoPontoFacultativo.IDTPFeriadoPontoFacultativo, TBTipoFeriadoPontoFacultativo.DSTPFeriadoPontoFacultativo
FROM            TBFeriadoPontoFacultativo, TBTipoFeriadoPontoFacultativo
Where TBFeriadoPontoFacultativo.IDTPFeriadoPontoFacultativo = 4
AND TBFeriadoPontoFacultativo.IDTPFeriadoPontoFacultativo = TBTipoFeriadoPontoFacultativo.IDTPFeiradoPontoFacultativo
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -384
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwFeriadoPontoFacultativo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwFeriadoPontoFacultativo'
GO
/****** Object:  View [dbo].[vwFerias]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwFerias]
AS
SELECT     dbo.TBFerias.IDFerias, dbo.TBUsuario.IDUsuario, dbo.TBUsuario.PrimeiroNome + ' ' + dbo.TBUsuario.DSUsuario AS Nome, CONVERT(nvarchar, 
                      ISNULL(dbo.TBFerias.DTInicioFerias, 0), 103) AS DTInicioFerias, CONVERT(nvarchar, ISNULL(dbo.TBFerias.DTFimFerias, 0), 103) AS DTFimFerias, 
                      dbo.TBFerias.IDStatus, dbo.TBUsuario.IDSetor, dbo.TBTipoFerias.DSTPFerias, dbo.TBTipoFerias.IDTPFerias
FROM         dbo.TBFerias INNER JOIN
                      dbo.TBUsuario ON dbo.TBFerias.IDUsuario = dbo.TBUsuario.IDUsuario INNER JOIN
                      dbo.TBTipoFerias ON dbo.TBFerias.IDTPFerias = dbo.TBTipoFerias.IDTPFerias
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBFerias"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "TBUsuario"
            Begin Extent = 
               Top = 6
               Left = 266
               Bottom = 125
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "TBTipoFerias"
            Begin Extent = 
               Top = 187
               Left = 258
               Bottom = 276
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 2415
         Width = 1995
         Width = 1995
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwFerias'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwFerias'
GO
/****** Object:  View [dbo].[vwUsuariogrid]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwUsuariogrid]
AS
SELECT     dbo.TBUsuario.PrimeiroNome, dbo.TBUsuario.DSUsuario, CONVERT(nvarchar, dbo.TBUsuario.DTCadastro, 103) AS DataCadastro, dbo.TBTipoUsuario.DSTPUsuario, 
                      dbo.TBEntidade.DSEntidade, dbo.TBStatus.DSStatus, dbo.TBCargo.DSCargo, dbo.TBUsuario.IDUsuario, dbo.TBSetor.IDSetor, dbo.TBSetor.DSSetor, 
                      dbo.TBUsuario.Login, dbo.TBStatus.IDStatus, dbo.TBCargo.IDCargo, dbo.TBTipoUsuario.IDTPUsuario, dbo.TBEntidade.IDEntidade, dbo.TBUsuario.DTCadastro, 
                      dbo.TBUsuario.TotHorasDiarias, dbo.TBUsuario.HoraEntradaManha, dbo.TBUsuario.HoraEntradaTarde, dbo.TBUsuario.HoraSaidaManha, 
                      dbo.TBUsuario.HoraSaidaTarde, dbo.TBUsuario.SenhaDigital, dbo.TBUsuario.AcessoEspecial
FROM         dbo.TBUsuario INNER JOIN
                      dbo.TBStatus ON dbo.TBUsuario.IDStatus = dbo.TBStatus.IDStatus INNER JOIN
                      dbo.TBCargo ON dbo.TBUsuario.IDCargo = dbo.TBCargo.IDCargo INNER JOIN
                      dbo.TBEntidade ON dbo.TBUsuario.IDEntidade = dbo.TBEntidade.IDEntidade INNER JOIN
                      dbo.TBTipoUsuario ON dbo.TBUsuario.IDTPUsuario = dbo.TBTipoUsuario.IDTPUsuario INNER JOIN
                      dbo.TBSetor ON dbo.TBUsuario.IDSetor = dbo.TBSetor.IDSetor AND dbo.TBStatus.IDStatus = dbo.TBSetor.IDStatus
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBUsuario"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 17
         End
         Begin Table = "TBStatus"
            Begin Extent = 
               Top = 6
               Left = 266
               Bottom = 95
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBCargo"
            Begin Extent = 
               Top = 6
               Left = 494
               Bottom = 95
               Right = 684
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBEntidade"
            Begin Extent = 
               Top = 96
               Left = 266
               Bottom = 200
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBTipoUsuario"
            Begin Extent = 
               Top = 96
               Left = 494
               Bottom = 200
               Right = 684
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBSetor"
            Begin Extent = 
               Top = 166
               Left = 35
               Bottom = 285
               Right = 225
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwUsuariogrid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4260
         Alias = 1815
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwUsuariogrid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwUsuariogrid'
GO
/****** Object:  View [dbo].[vwNomeUsuario]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwNomeUsuario]
AS
SELECT     IDUsuario, PrimeiroNome + ' ' + DSUsuario AS Nome, IDSetor
FROM         dbo.TBUsuario
GO
/****** Object:  View [dbo].[vwTotalHorasMes]    Script Date: 05/21/2012 23:45:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwTotalHorasMes]
AS
WITH DifSegs AS (SELECT     IDUsuario, TotalHorasDias, MesReferencia, DATEDIFF(ss, CONVERT(char(8), TotalHorasDias, 112), TotalHorasDias) AS segundos
                                        FROM         dbo.TBFrequencia)
    SELECT     IDUsuario, MesReferencia, SUM(segundos) / 3600 AS Horas, SUM(segundos) % 3600 / 60 AS Minutos, SUM(segundos) % 3600 % 60 AS Segundos
     FROM         DifSegs AS DifSegs
     GROUP BY IDUsuario, MesReferencia
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DifSegs"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwTotalHorasMes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwTotalHorasMes'
GO
/****** Object:  ForeignKey [FK_TBEntidade_TBStatus]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBEntidade]  WITH CHECK ADD  CONSTRAINT [FK_TBEntidade_TBStatus] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[TBStatus] ([IDStatus])
GO
ALTER TABLE [dbo].[TBEntidade] CHECK CONSTRAINT [FK_TBEntidade_TBStatus]
GO
/****** Object:  ForeignKey [FK_TBFeriadoPontoFacultativo_TBTipoFeriadoPontoFacultativo]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBFeriadoPontoFacultativo]  WITH CHECK ADD  CONSTRAINT [FK_TBFeriadoPontoFacultativo_TBTipoFeriadoPontoFacultativo] FOREIGN KEY([IDTPFeriadoPontoFacultativo])
REFERENCES [dbo].[TBTipoFeriadoPontoFacultativo] ([IDTPFeiradoPontoFacultativo])
GO
ALTER TABLE [dbo].[TBFeriadoPontoFacultativo] CHECK CONSTRAINT [FK_TBFeriadoPontoFacultativo_TBTipoFeriadoPontoFacultativo]
GO
/****** Object:  ForeignKey [FK_TBFerias_TBStatus]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBFerias]  WITH CHECK ADD  CONSTRAINT [FK_TBFerias_TBStatus] FOREIGN KEY([IDTPFerias])
REFERENCES [dbo].[TBTipoFerias] ([IDTPFerias])
GO
ALTER TABLE [dbo].[TBFerias] CHECK CONSTRAINT [FK_TBFerias_TBStatus]
GO
/****** Object:  ForeignKey [FK_TBFerias_TBUsuario]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBFerias]  WITH CHECK ADD  CONSTRAINT [FK_TBFerias_TBUsuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[TBUsuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[TBFerias] CHECK CONSTRAINT [FK_TBFerias_TBUsuario]
GO
/****** Object:  ForeignKey [FK_TBFrequencia_TBMotivoFalta]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBFrequencia]  WITH CHECK ADD  CONSTRAINT [FK_TBFrequencia_TBMotivoFalta] FOREIGN KEY([IDMotivoFalta])
REFERENCES [dbo].[TBMotivoFalta] ([IDMotivoFalta])
GO
ALTER TABLE [dbo].[TBFrequencia] CHECK CONSTRAINT [FK_TBFrequencia_TBMotivoFalta]
GO
/****** Object:  ForeignKey [FK_TBFrequencia_TBUsuario]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBFrequencia]  WITH CHECK ADD  CONSTRAINT [FK_TBFrequencia_TBUsuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[TBUsuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[TBFrequencia] CHECK CONSTRAINT [FK_TBFrequencia_TBUsuario]
GO
/****** Object:  ForeignKey [FK_TBLog_TBUsuario]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBLog]  WITH CHECK ADD  CONSTRAINT [FK_TBLog_TBUsuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[TBUsuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[TBLog] CHECK CONSTRAINT [FK_TBLog_TBUsuario]
GO
/****** Object:  ForeignKey [FK_TBSetor_TBOrgao]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBSetor]  WITH CHECK ADD  CONSTRAINT [FK_TBSetor_TBOrgao] FOREIGN KEY([IDOrgao])
REFERENCES [dbo].[TBOrgao] ([IDOrgao])
GO
ALTER TABLE [dbo].[TBSetor] CHECK CONSTRAINT [FK_TBSetor_TBOrgao]
GO
/****** Object:  ForeignKey [FK_TBSetor_TBStatus]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBSetor]  WITH CHECK ADD  CONSTRAINT [FK_TBSetor_TBStatus] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[TBStatus] ([IDStatus])
GO
ALTER TABLE [dbo].[TBSetor] CHECK CONSTRAINT [FK_TBSetor_TBStatus]
GO
/****** Object:  ForeignKey [FK_TBUsuario_TBCargo]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TBUsuario_TBCargo] FOREIGN KEY([IDCargo])
REFERENCES [dbo].[TBCargo] ([IDCargo])
GO
ALTER TABLE [dbo].[TBUsuario] CHECK CONSTRAINT [FK_TBUsuario_TBCargo]
GO
/****** Object:  ForeignKey [FK_TBUsuario_TBEntidade]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TBUsuario_TBEntidade] FOREIGN KEY([IDEntidade])
REFERENCES [dbo].[TBEntidade] ([IDEntidade])
GO
ALTER TABLE [dbo].[TBUsuario] CHECK CONSTRAINT [FK_TBUsuario_TBEntidade]
GO
/****** Object:  ForeignKey [FK_TBUsuario_TBSetor]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TBUsuario_TBSetor] FOREIGN KEY([IDSetor])
REFERENCES [dbo].[TBSetor] ([IDSetor])
GO
ALTER TABLE [dbo].[TBUsuario] CHECK CONSTRAINT [FK_TBUsuario_TBSetor]
GO
/****** Object:  ForeignKey [FK_TBUsuario_TBStatus]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TBUsuario_TBStatus] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[TBStatus] ([IDStatus])
GO
ALTER TABLE [dbo].[TBUsuario] CHECK CONSTRAINT [FK_TBUsuario_TBStatus]
GO
/****** Object:  ForeignKey [FK_TBUsuario_TBTipoUsuario]    Script Date: 05/21/2012 23:45:23 ******/
ALTER TABLE [dbo].[TBUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TBUsuario_TBTipoUsuario] FOREIGN KEY([IDTPUsuario])
REFERENCES [dbo].[TBTipoUsuario] ([IDTPUsuario])
GO
ALTER TABLE [dbo].[TBUsuario] CHECK CONSTRAINT [FK_TBUsuario_TBTipoUsuario]
GO
