<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--Valor tipo string (S ou N), obriga as 4 batidas quando a flag aplicar regras de desconto no total da jornada-->
		<add key="ObrigaQuatroBatidas" value="S"/>
		<!--Valor tipo data (31/06/2019), essa data desativa o tratamento do parametro ObrigaQuatroBatidas das datas anteriores a informada -->
		<add key="DataDesconsidera" value="30/06/2019"/>
	</appSettings>
	<connectionStrings>
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionString" connectionString="Data Source=resmarchetti.cuiaba.mt.gov.br;Initial Catalog=PontoFrequenciaPMC;User ID=pontoweb;Password=Pt@20wEb18@ZUR" providerName="System.Data.SqlClient"/>
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaNConnectionString" connectionString="Data Source=resmarchetti.cuiaba.mt.gov.br;Initial Catalog=PontoFrequenciaPMC;User ID=pontoweb;Password=Pt@20wEb18@ZUR" providerName="System.Data.SqlClient"/>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="PontoFrequenciaNConnectionString" connectionString="Data  Source=resmarchetti.cuiaba.mt.gov.br;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User  ID=pontoweb;Password=Pt@20wEb18@ZUR" providerName="System.Data.SqlClient"/>
		<add name="PontoFrequenciaNConnectionString2" connectionString="Data Source=resmarchetti.cuiaba.mt.gov.br;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=pontoweb;Password=Pt@20wEb18@ZUR" providerName="System.Data.SqlClient"/>
		<add name="PontoFrequenciaNConnectionString3" connectionString="Data Source=resmarchetti.cuiaba.mt.gov.br;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=pontoweb;Password=Pt@20wEb18@ZUR" providerName="System.Data.SqlClient"/>
		<add name="PontoFrequenciaNConnectionString5" connectionString="Data Source=resmarchetti.cuiaba.mt.gov.br;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=pontoweb;Password=Pt@20wEb18@ZUR" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.7.2" />
			</system.Web>
	-->
	<system.web>
		<customErrors mode="Off"/>
		<globalization culture="pt-BR"/>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
		</httpHandlers>
		<compilation debug="true" defaultLanguage="C#" targetFramework="4.5">
			<assemblies>
				<add assembly="DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v13.1.Core, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Data.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Utils.v13.1, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Charts.v13.1.Core, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraCharts.v13.1, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.PivotGrid.v13.1.Core, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraPivotGrid.v13.1, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v13.1, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraRichEdit.v13.1, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.RichEdit.v13.1.Core, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v13.1.Web, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxScheduler.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraScheduler.v13.1.Core, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceModel.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.XtraCharts.v13.1.Web, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraEditors.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Docs.v13.1, Version=13.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Sparkline.v13.1.Core, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Office.v13.1.Core, Version=13.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<!--<add assembly="Stimulsoft.Report.WebDesign, Version=2012.1.1300.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />-->
				<add assembly="Stimulsoft.Report, Version=2012.2.1304.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
				<add assembly="Stimulsoft.Base, Version=2012.2.1304.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
				<add assembly="Stimulsoft.Report.Web, Version=2012.2.1304.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
			<buildProviders>
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="20"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<httpModules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" version="5.2.3.0" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
			</files>
		</defaultDocument>
		<security>
			<requestFiltering>
				<fileExtensions>
					<remove fileExtension=".master"/>
					<add fileExtension=".master" allowed="true"/>
				</fileExtensions>
			</requestFiltering>
		</security>
		<handlers>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v13.1, Version=13.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<devExpress>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies=""/>
		<errors callbackErrorRedirectUrl=""/>
		<settings rightToLeft="false" doctypeMode="Xhtml"/>
	</devExpress>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ws_seap_webponto_busca_func_cpfSoapBinding"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://webseap.gestao.mt.gov.br/sec_gestao/ws_seap_webponto_busca_func_cpf.jws" binding="basicHttpBinding" bindingConfiguration="ws_seap_webponto_busca_func_cpfSoapBinding" contract="ServidorSEAP.ws_seap_webponto_busca_func_cpf" name="ws_seap_webponto_busca_func_cpf"/>
		</client>
	</system.serviceModel>
	<system.net>
		<settings>
			<servicePointManager expect100Continue="false"/>
		</settings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
