div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p
{font-family:Arial;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:Arial;
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
h2
{
font-family:Arial;
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
span.code
{
font-family:Courier New;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:Georgia;
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_1D94F9D29F
{
	font-family:Arial;
	font-size: 12pt;
	color:#333333;
	font-style:italic;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_32432F17D6
{
	font-family:Arial;
	font-size: 11pt;
	color:#000000;
}
span.de_37F68C613B
{
	font-family:Arial;
	font-size: 12pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_3936C46AEE
{
	font-family:Arial;
	font-size: 12pt;
	color:#000000;
}
span.de_4F7AD1B79D
{
	font-family:Arial;
	font-size: 11pt;
	color:#000000;
	font-style:italic;
}
span.de_6E5AB88877
{
	font-family:Arial;
	font-size: 12pt;
	color:#333333;
}
span.de_7EA41EC2FA
{
	font-size: 16pt;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_8965D2D79E
{
	font-family:Arial;
	font-size: 16pt;
	color:#000000;
}
span.de_89BD9820DE
{
	font-family:Arial;
	font-size: 12pt;
	color:#002060;
}
span.de_93BEB2DF04
{
	font-family:Arial;
	font-size: 12pt;
	color:#1322ec;
}
span.de_9C050CF625
{
	font-size: 16pt;
	color:#004891;
}
span.de_A9DDA51A11
{
	font-family:Arial;
	font-size: 12pt;
	color:#ff3600;
	font-style:italic;
	text-decoration:underline;
}
span.de_C189D8955F
{
	font-family:Arial;
	font-size: 12pt;
	color:#ff3600;
}
span.de_C379B2198C
{
	font-size: 14pt;
	color:#004891;
}
span.de_C87EA50B3C
{
	font-family:Arial;
	font-size: 12pt;
	color:#49b681;
}
span.de_D79B3213CA
{
	font-family:Arial;
	font-size: 12pt;
}
span.de_D8B8F3ADAA
{
	font-family:Arial;
	font-size: 12pt;
	color:#000000;
	text-decoration:underline;
}
span.de_E6222E61E6
{
	font-family:Arial;
	font-size: 12pt;
	color:#000000;
	font-style:italic;
	text-decoration:underline;
}
span.de_E9382261E5
{
	font-family:Arial;
	font-size: 16pt;
	color:#000000;
	font-style:italic;
}
span.de_F1F3B4D4AE
{
	font-family:Arial;
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
