<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoBKPConnectionString"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionString"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringdada"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringdayan2"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringdayan"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringSAD2"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringdayan6"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringSAD10"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringDayan3"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringSAD3"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringdayanh"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringDayan4"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringDayan7"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringSAD"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaNConnectionString"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaPMCConnectionString"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoBKPConnectionString1"
      connectionString="&#xA;        &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xA;        &lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xA;        &lt;ConnectionString&gt;Data Source=184.173.11.205;Initial Catalog=PontoBKP;User ID=dbponto;Password=dbponto123&lt;/ConnectionString&gt;&#xA;        &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xA;        &lt;/SerializableConnectionString&gt;&#xA;      " />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoDevConnectionString"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
    <add name="MetodosPontoFrequencia.Properties.Settings.PontoFrequenciaConnectionStringDev"
      connectionString="Data Source=200.241.193.131\\SQLMETATI16,1477;Initial Catalog=PontoFrequenciaPMC;Persist Security Info=True;User ID=sa;password=MetaTIPMC2016;Pooling=true;Enlist=false;Min Pool Size=5;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
