.dxWeb_rpHeaderTopLeftCorner_Office2003Olive,
.dxWeb_rpHeaderTopRightCorner_Office2003Olive,
.dxWeb_rpBottomLeftCorner_Office2003Olive,
.dxWeb_rpBottomRightCorner_Office2003Olive,
.dxWeb_rpTopLeftCorner_Office2003Olive,
.dxWeb_rpTopRightCorner_Office2003Olive,
.dxWeb_rpGroupBoxBottomLeftCorner_Office2003Olive,
.dxWeb_rpGroupBoxBottomRightCorner_Office2003Olive,
.dxWeb_rpGroupBoxTopLeftCorner_Office2003Olive,
.dxWeb_rpGroupBoxTopRightCorner_Office2003Olive,
.dxWeb_mHorizontalPopOut_Office2003Olive,
.dxWeb_mVerticalPopOut_Office2003Olive,
.dxWeb_mVerticalPopOutRtl_Office2003Olive,
.dxWeb_mSubMenuItem_Office2003Olive,
.dxWeb_mSubMenuItemChecked_Office2003Olive,
.dxWeb_mScrollUp_Office2003Olive,
.dxWeb_mScrollDown_Office2003Olive,
.dxWeb_tcScrollLeft_Office2003Olive,
.dxWeb_tcScrollRight_Office2003Olive,
.dxWeb_tcScrollLeftHover_Office2003Olive,
.dxWeb_tcScrollRightHover_Office2003Olive,
.dxWeb_tcScrollLeftPressed_Office2003Olive,
.dxWeb_tcScrollRightPressed_Office2003Olive,
.dxWeb_tcScrollLeftDisabled_Office2003Olive,
.dxWeb_tcScrollRightDisabled_Office2003Olive,
.dxWeb_nbCollapse_Office2003Olive,
.dxWeb_nbExpand_Office2003Olive,
.dxWeb_splVSeparator_Office2003Olive,
.dxWeb_splVSeparatorHover_Office2003Olive,
.dxWeb_splHSeparator_Office2003Olive,
.dxWeb_splHSeparatorHover_Office2003Olive,
.dxWeb_splVCollapseBackwardButton_Office2003Olive,
.dxWeb_splVCollapseBackwardButtonHover_Office2003Olive,
.dxWeb_splHCollapseBackwardButton_Office2003Olive,
.dxWeb_splHCollapseBackwardButtonHover_Office2003Olive,
.dxWeb_splVCollapseForwardButton_Office2003Olive,
.dxWeb_splVCollapseForwardButtonHover_Office2003Olive,
.dxWeb_splHCollapseForwardButton_Office2003Olive,
.dxWeb_splHCollapseForwardButtonHover_Office2003Olive,
.dxWeb_pcCloseButton_Office2003Olive,
.dxWeb_pcPinButton_Office2003Olive,
.dxWeb_pcRefreshButton_Office2003Olive,
.dxWeb_pcCollapseButton_Office2003Olive,
.dxWeb_pcMaximizeButton_Office2003Olive,
.dxWeb_pcSizeGrip_Office2003Olive,
.dxWeb_pcSizeGripRtl_Office2003Olive,
.dxWeb_pPopOut_Office2003Olive,
.dxWeb_pPopOutDisabled_Office2003Olive,
.dxWeb_pAll_Office2003Olive,
.dxWeb_pAllDisabled_Office2003Olive,
.dxWeb_pPrev_Office2003Olive,
.dxWeb_pPrevDisabled_Office2003Olive,
.dxWeb_pNext_Office2003Olive,
.dxWeb_pNextDisabled_Office2003Olive,
.dxWeb_pLast_Office2003Olive,
.dxWeb_pLastDisabled_Office2003Olive,
.dxWeb_pFirst_Office2003Olive,
.dxWeb_pFirstDisabled_Office2003Olive,
.dxWeb_hlTail_Office2003Olive,
.dxWeb_tiBackToTop_Office2003Olive,
.dxWeb_smBullet_Office2003Olive,
.dxWeb_tvColBtn_Office2003Olive,
.dxWeb_tvColBtnRtl_Office2003Olive,
.dxWeb_tvExpBtn_Office2003Olive,
.dxWeb_tvExpBtnRtl_Office2003Olive,
.dxWeb_fmFolder_Office2003Olive,
.dxWeb_fmFolderLocked_Office2003Olive,
.dxWeb_fmCreateButton_Office2003Olive,
.dxWeb_fmMoveButton_Office2003Olive,
.dxWeb_fmRenameButton_Office2003Olive,
.dxWeb_fmDeleteButton_Office2003Olive,
.dxWeb_fmRefreshButton_Office2003Olive,
.dxWeb_fmDwnlButton_Office2003Olive,
.dxWeb_fmCreateButtonDisabled_Office2003Olive,
.dxWeb_fmMoveButtonDisabled_Office2003Olive,
.dxWeb_fmRenameButtonDisabled_Office2003Olive,
.dxWeb_fmDeleteButtonDisabled_Office2003Olive,
.dxWeb_fmRefreshButtonDisabled_Office2003Olive,
.dxWeb_fmDwnlButtonDisabled_Office2003Olive,
.dxWeb_fmThumbnailCheck_Office2003Olive,
.dxWeb_ucClearButton_Office2003Olive,
.dxWeb_ucClearButtonDisabled_Office2003Olive,
.dxWeb_isPrevBtnHor_Office2003Olive,
.dxWeb_isNextBtnHor_Office2003Olive,
.dxWeb_isPrevBtnVert_Office2003Olive,
.dxWeb_isNextBtnVert_Office2003Olive,
.dxWeb_isPrevPageBtnHor_Office2003Olive,
.dxWeb_isNextPageBtnHor_Office2003Olive,
.dxWeb_isPrevPageBtnVert_Office2003Olive,
.dxWeb_isNextPageBtnVert_Office2003Olive,
.dxWeb_isPrevBtnHorDisabled_Office2003Olive,
.dxWeb_isNextBtnHorDisabled_Office2003Olive,
.dxWeb_isPrevBtnVertDisabled_Office2003Olive,
.dxWeb_isNextBtnVertDisabled_Office2003Olive,
.dxWeb_isPrevPageBtnHorDisabled_Office2003Olive,
.dxWeb_isNextPageBtnHorDisabled_Office2003Olive,
.dxWeb_isPrevPageBtnVertDisabled_Office2003Olive,
.dxWeb_isNextPageBtnVertDisabled_Office2003Olive,
.dxWeb_isDot_Office2003Olive,
.dxWeb_isDotDisabled_Office2003Olive,
.dxWeb_isDotSelected_Office2003Olive,
.dxWeb_isPlayBtn_Office2003Olive,
.dxWeb_isPauseBtn_Office2003Olive,
.dxWeb_igCloseButton_Office2003Olive,
.dxWeb_igNextButton_Office2003Olive,
.dxWeb_igPrevButton_Office2003Olive,
.dxWeb_igPlayButton_Office2003Olive,
.dxWeb_igPauseButton_Office2003Olive,
.dxWeb_igNavigationBarMarker_Office2003Olive

{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
    display:block;
}
.dxWeb_mScrollUp_Office2003Olive, .dxWeb_mScrollDown_Office2003Olive
{
	margin: auto;
}
.dxWeb_hlTail_Office2003Olive,
.dxWeb_smBullet_Office2003Olive,
.dxWeb_tiBackToTop_Office2003Olive
{
	display:inline;
}

.dxWeb_edtCheckBoxChecked_Office2003Olive,
.dxWeb_edtCheckBoxUnchecked_Office2003Olive,
.dxWeb_edtCheckBoxGrayed_Office2003Olive,
.dxWeb_edtCheckBoxCheckedDisabled_Office2003Olive,
.dxWeb_edtCheckBoxUncheckedDisabled_Office2003Olive,
.dxWeb_edtCheckBoxGrayedDisabled_Office2003Olive {
	background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
	width: 15px;
    height: 15px;
}

.dxWeb_edtCheckBoxUnchecked_Office2003Olive {
	background-position: -157px 0px;
}
.dxWeb_edtCheckBoxChecked_Office2003Olive {
	background-position: -157px -15px; 
}
.dxWeb_edtCheckBoxGrayed_Office2003Olive {
	background-position: -157px -30px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Office2003Olive {
	background-position: -157px -45px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Office2003Olive {
	background-position: -157px -60px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Office2003Olive {
	background-position: -157px -75px;
}

.dxWeb_rpHeaderTopLeftCorner_Office2003Olive {
    background-position: -104px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpHeaderTopRightCorner_Office2003Olive {
    background-position: -117px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpBottomLeftCorner_Office2003Olive {
    background-position: -78px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpBottomRightCorner_Office2003Olive {
    background-position: -91px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpTopLeftCorner_Office2003Olive {
    background-position: -52px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpTopRightCorner_Office2003Olive {
    background-position: -65px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpGroupBoxBottomLeftCorner_Office2003Olive {
    background-position: -26px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpGroupBoxBottomRightCorner_Office2003Olive {
    background-position: -39px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpGroupBoxTopLeftCorner_Office2003Olive {
    background-position: 0px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_rpGroupBoxTopRightCorner_Office2003Olive {
    background-position: -13px -88px;
    width: 9px;
    height: 9px;
}

.dxWeb_mHorizontalPopOut_Office2003Olive {
    background-position: -92px -50px;
    width: 5px;
    height: 4px;
}

.dxWeb_mVerticalPopOut_Office2003Olive {
    background-position: -105px -50px;
    width: 4px;
    height: 8px;
}

.dxWeb_mVerticalPopOutRtl_Office2003Olive {
    background-position: -146px -50px;
    width: 4px;
    height: 8px;
}

.dxWeb_mSubMenuItem_Office2003Olive {
    background-position: -48px -50px;
    width: 16px;
    height: 16px;
}

.dxWeb_mSubMenuItemChecked_Office2003Olive {
    background-position: -70px -50px;
    width: 16px;
    height: 16px;
}

.dxWeb_mScrollUp_Office2003Olive {
    background-position: -98px -50px;
    width: 5px;
    height: 4px;
}

.dxWeb_mScrollDown_Office2003Olive {
    background-position: -98px -55px;
    width: 5px;
    height: 4px;
}

.dxWeb_tcScrollLeft_Office2003Olive
{
	background-position: -143px 0;
    width: 6px;
    height: 9px;
}

.dxWeb_tcScrollRight_Office2003Olive 
{
	background-position: -150px 0;
    width: 6px;
    height: 9px;
}

.dxWeb_tcScrollLeftHover_Office2003Olive
{
	background-position: -143px -10px;
    width: 6px;
    height: 9px;
}

.dxWeb_tcScrollRightHover_Office2003Olive
{
	background-position: -150px -10px;
    width: 6px;
    height: 9px;
}

.dxWeb_tcScrollLeftPressed_Office2003Olive
{
	background-position: -143px -20px;
    width: 6px;
    height: 9px;
}

.dxWeb_tcScrollRightPressed_Office2003Olive
{
	background-position: -150px -20px;
    width: 6px;
    height: 9px;
}

.dxWeb_tcScrollLeftDisabled_Office2003Olive
{
	background-position: -143px -30px;
    width: 6px;
    height: 9px;
}

.dxWeb_tcScrollRightDisabled_Office2003Olive
{
	background-position: -150px -30px;
    width: 6px;
    height: 9px;
}

.dxWeb_nbCollapse_Office2003Olive {
    background-position: -129px 0px;
    width: 13px;
    height: 14px;
}

.dxWeb_nbExpand_Office2003Olive {
    background-position: -129px -23px;
    width: 13px;
    height: 14px;
}

.dxWeb_splVSeparator_Office2003Olive {
    background-position: -92px -62px;
    width: 6px;
    height: 18px;
}

.dxWeb_splVSeparatorHover_Office2003Olive {
    background-position: -99px -62px;
    width: 6px;
    height: 18px;
}

.dxWeb_splHSeparator_Office2003Olive {
    background-position: -58px -74px;
    width: 18px;
    height: 6px;
}

.dxWeb_splHSeparatorHover_Office2003Olive {
    background-position: -58px -81px;
    width: 18px;
    height: 6px;
}

.dxWeb_splVCollapseBackwardButton_Office2003Olive {
    background-position: -30px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseBackwardButtonHover_Office2003Olive {
    background-position: -37px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseBackwardButton_Office2003Olive {
    background-position: 0px -74px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseBackwardButtonHover_Office2003Olive {
    background-position: 0px -81px;
    width: 7px;
    height: 6px;
}

.dxWeb_splVCollapseForwardButton_Office2003Olive {
    background-position: -44px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseForwardButtonHover_Office2003Olive {
    background-position: -51px -74px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseForwardButton_Office2003Olive {
    background-position: -15px -74px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseForwardButtonHover_Office2003Olive {
    background-position: -15px -81px;
    width: 7px;
    height: 6px;
}
.dxWeb_pcCloseButton_Office2003Olive,
.dxWeb_pcPinButton_Office2003Olive,
.dxWeb_pcRefreshButton_Office2003Olive,
.dxWeb_pcCollapseButton_Office2003Olive,
.dxWeb_pcMaximizeButton_Office2003Olive {
    width: 13px;
    height: 12px;
}
.dxWeb_pcCloseButton_Office2003Olive {
    background-position: 0px -50px;
}
.dxWeb_pcPinButton_Office2003Olive {
    background-position: -142px -131px;
}
.dxpcPinButtonChecked_Office2003Olive .dxWeb_pcPinButton_Office2003Olive,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2003Olive {
    background-position: -156px -130px;
 }
 
.dxWeb_pcRefreshButton_Office2003Olive {
    background-position: -156px -91px;
}

.dxWeb_pcCollapseButton_Office2003Olive {
    background-position: -154px -117px;
}
.dxpcCollapseButtonChecked_Office2003Olive .dxWeb_pcCollapseButton_Office2003Olive,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2003Olive {
    background-position: -139px -117px;
 }
 
.dxWeb_pcMaximizeButton_Office2003Olive {
    background-position: -155px -103px;
}
.dxpcMaximizeButtonChecked_Office2003Olive .dxWeb_pcMaximizeButton_Office2003Olive,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2003Olive {
    background-position: -138px -103px;
 }

.dxWeb_pcSizeGrip_Office2003Olive {
    background-position: -24px -50px;
    width: 16px;
    height: 16px;
}

.dxWeb_pcSizeGripRtl_Office2003Olive {
    background-position: -130px -84px;
    width: 16px;
    height: 16px;
}

.dxWeb_pPopOut_Office2003Olive {
    background-position: -1px -69px;
    width: 5px;
    height: 3px;
}

.dxWeb_pPopOutDisabled_Office2003Olive {
    background-position: -16px -69px;
    width: 5px;
    height: 3px;
}

.dxWeb_pAll_Office2003Olive {
    background-position: 0px 0px;
    width: 30px;
    height: 19px;
}

.dxWeb_pAllDisabled_Office2003Olive {
    background-position: 0px -25px;
    width: 30px;
    height: 19px;
}

.dxWeb_pPrev_Office2003Olive {
    background-position: -105px 0px;
    width: 20px;
    height: 19px;
}

.dxWeb_pPrevDisabled_Office2003Olive {
    background-position: -105px -25px;
    width: 20px;
    height: 19px;
}

.dxWeb_pNext_Office2003Olive {
    background-position: -81px 0px;
    width: 20px;
    height: 19px;
}

.dxWeb_pNextDisabled_Office2003Olive {
    background-position: -81px -25px;
    width: 20px;
    height: 19px;
}

.dxWeb_pLast_Office2003Olive {
    background-position: -55px 0px;
    width: 22px;
    height: 19px;
}

.dxWeb_pLastDisabled_Office2003Olive {
    background-position: -55px -25px;
    width: 22px;
    height: 19px;
}

.dxWeb_pFirst_Office2003Olive {
    background-position: -31px 0px;
    width: 22px;
    height: 19px;
}

.dxWeb_pFirstDisabled_Office2003Olive {
    background-position: -31px -25px;
    width: 22px;
    height: 19px;
}

.dxWeb_hlTail_Office2003Olive {
    background-position: -131px -50px;
    width: 13px;
    height: 9px;
}

.dxWeb_tiBackToTop_Office2003Olive {
    background-position: -122px -50px;
    width: 7px;
    height: 8px;
}

.dxWeb_smBullet_Office2003Olive {
    background-position: -114px -50px;
    width: 5px;
    height: 5px;
}

.dxWeb_tvColBtn_Office2003Olive,
.dxWeb_tvColBtnRtl_Office2003Olive {
	background-position: -130px -66px;
    width: 17px;
    height: 17px;
}

.dxWeb_tvExpBtn_Office2003Olive,
.dxWeb_tvExpBtnRtl_Office2003Olive {
	background-position: -110px -66px;
    width: 17px;
    height: 17px;
}

.dxWeb_fmFolder_Office2003Olive {
	background-position: 0px -104px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmFolderLocked_Office2003Olive {
	background-position: -20px -104px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmCreateButton_Office2003Olive {
	background-position: -40px -104px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButton_Office2003Olive {
	background-position: -60px -104px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButton_Office2003Olive {
	background-position: -80px -104px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButton_Office2003Olive {
	background-position: -100px -104px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButton_Office2003Olive {
	background-position: -120px -104px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Office2003Olive {
	background-position: 0px -128px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Office2003Olive {
	background-position: -20px -128px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Office2003Olive {
	background-position: -40px -128px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButtonDisabled_Office2003Olive {
	background-position: -60px -128px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButtonDisabled_Office2003Olive {
	background-position: -80px -128px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButtonDisabled_Office2003Olive {
	background-position: -100px -128px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButtonDisabled_Office2003Olive {
	background-position: -120px -128px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_Office2003Olive
{
    background-position: -150px -158px;
    width: 10px;
    height: 11px;
}

.dxWeb_ucClearButton_Office2003Olive {
    background-position: -100px -104px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Office2003Olive {
    background-position: -100px -128px;
    width: 16px;
    height: 16px;
}

/*ASPxImageSlider*/
.dxWeb_isPlayBtn_Office2003Olive
{
    background-position: -80px -179px;
}
.dxWeb_isPauseBtn_Office2003Olive
{
    background-position: -94px -178px;
}
.dxWeb_isDot_Office2003Olive,
.dxWeb_isDotDisabled_Office2003Olive
{
    background-position: -113px -156px;
}
.dxWeb_isDotSelected_Office2003Olive
{
    background-position: -131px -156px;
}
.dxWeb_isPrevBtnVert_Office2003Olive,
.dxWeb_isNextBtnVert_Office2003Olive,
.dxWeb_isPrevBtnVertDisabled_Office2003Olive,
.dxWeb_isNextBtnVertDisabled_Office2003Olive
{
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnHor_Office2003Olive,
.dxWeb_isNextBtnHor_Office2003Olive,
.dxWeb_isPrevBtnHorDisabled_Office2003Olive,
.dxWeb_isNextBtnHorDisabled_Office2003Olive
{
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_Office2003Olive,
.dxWeb_isPrevBtnVertDisabled_Office2003Olive
{
    background-position: -46px -152px;
}
.dxWeb_isNextBtnVert_Office2003Olive,
.dxWeb_isNextBtnVertDisabled_Office2003Olive
{
    background-position: -79px -152px;
}
.dxWeb_isPrevBtnHor_Office2003Olive,
.dxWeb_isPrevBtnHorDisabled_Office2003Olive
{
    background-position: -1px -146px;
}
.dxWeb_isNextBtnHor_Office2003Olive,
.dxWeb_isNextBtnHorDisabled_Office2003Olive
{
    background-position: -24px -146px;
}
.dxWeb_isPrevPageBtnVert_Office2003Olive,
.dxWeb_isNextPageBtnVert_Office2003Olive,
.dxWeb_isPrevPageBtnVertDisabled_Office2003Olive,
.dxWeb_isNextPageBtnVertDisabled_Office2003Olive
{
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnHor_Office2003Olive,
.dxWeb_isNextPageBtnHor_Office2003Olive,
.dxWeb_isPrevPageBtnHorDisabled_Office2003Olive,
.dxWeb_isNextPageBtnHorDisabled_Office2003Olive
{
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnVert_Office2003Olive,
.dxWeb_isPrevPageBtnVertDisabled_Office2003Olive
{
    background-position: -35px -185px;
}
.dxWeb_isNextPageBtnVert_Office2003Olive,
.dxWeb_isNextPageBtnVertDisabled_Office2003Olive
{
    background-position: -58px -185px;
}
.dxWeb_isPrevPageBtnHor_Office2003Olive,
.dxWeb_isPrevPageBtnHorDisabled_Office2003Olive
{
    background-position: -2px -181px;
}
.dxWeb_isNextPageBtnHor_Office2003Olive,
.dxWeb_isNextPageBtnHorDisabled_Office2003Olive
{
    background-position: -18px -181px;
}

/*ASPxImageGallery*/
.dxWeb_igCloseButton_Office2003Olive
{
    background-position: -144px -203px;
}
.dxigControl_Office2003Olive.dxTouchUI .dxWeb_igCloseButton_Office2003Olive
{
    background-position: -139px -232px;
}
.dxWeb_igPrevButton_Office2003Olive
{
    background-position: -92px -204px;
}
.dxWeb_igPrevButtonHover_Office2003Olive
{
    background-position: 0px -204px;
}
.dxWeb_igPrevButtonPressed_Office2003Olive
{
    background-position: -46px -204px;
}
.dxWeb_igPrevButtonDisabled_Office2003Olive
{
    background-position: -92px -204px;
}
.dxWeb_igNextButton_Office2003Olive
{
    background-position: -92px -270px;
}
.dxWeb_igNextButtonHover_Office2003Olive
{
    background-position: 0px -270px;
}
.dxWeb_igNextButtonPressed_Office2003Olive
{
    background-position: -46px -270px;
}
.dxWeb_igNextButtonDisabled_Office2003Olive
{
    background-position: -92px -270px;
}
.dxWeb_igPlayButton_Office2003Olive
{
    background-position: -80px -179px;
}
.dxWeb_igPauseButton_Office2003Olive
{
    background-position: -94px -178px;
}
.dxWeb_igNavigationBarMarker_Office2003Olive
{
    background-position: -142px -217px;
}
.dxigControl_Office2003Olive.dxTouchUI .dxWeb_igPlayButton_Office2003Olive
{
    background-position: -141px -281px;
}
.dxigControl_Office2003Olive.dxTouchUI .dxWeb_igPauseButton_Office2003Olive
{
    background-position: -145px -255px;
}
