.dxTreeList_CollapsedButton_PMC2,
.dxTreeList_CollapsedButtonRtl_PMC2,
.dxTreeList_ExpandedButton_PMC2,
.dxTreeList_ExpandedButtonRtl_PMC2,
.dxTreeList_SortAsc_PMC2,
.dxTreeList_SortDesc_PMC2,
.dxTreeList_DragAndDropArrowDown_PMC2,
.dxTreeList_DragAndDropArrowUp_PMC2,
.dxTreeList_DragAndDropHide_PMC2,
.dxTreeList_DragAndDropNode_PMC2
{
	background: transparent url('sprite.png') no-repeat;
}

.dxTreeList_CollapsedButton_PMC2
{
    background-position: -64px 0px;
    width: 13px;
    height: 13px;
}

.dxTreeList_CollapsedButtonRtl_PMC2 
{
    background-position: -79px 0px;
    width: 13px;
    height: 13px;
}

.dxTreeList_ExpandedButton_PMC2
{
    background-position: -64px -18px;
    width: 13px;
    height: 13px;
}

.dxTreeList_ExpandedButtonRtl_PMC2 
{
    background-position: -79px -18px;
    width: 13px;
    height: 13px;
}

.dxTreeList_SortAsc_PMC2 {
    background-position: -50px 0px;
    width: 7px;
    height: 5px;
}

.dxTreeList_SortDesc_PMC2 {
    background-position: -50px -7px;
    width: 7px;
    height: 5px;
}

.dxTreeList_DragAndDropArrowDown_PMC2 {
    background-position: -30px 0px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropArrowUp_PMC2 {
    background-position: -30px -18px;
    width: 11px;
    height: 9px;
}

.dxTreeList_DragAndDropHide_PMC2 {
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}

.dxTreeList_DragAndDropNode_PMC2 {
    background-position: -46px -18px;
    width: 13px;
    height: 13px;
}



